<!-- ========================== About section start ============================== -->
<section class="about py-120 position-relative overflow-hidden">
    <div class="position-absolute top-0 tw-start-0 tw-mt-16 tw-ms-11">
        <img src="assets/images/shapes/wheel-spot-shape.png" alt="Wheel Spot Shape Image" class="animated-upDown">
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="pe-lg-4 h-100">
                    <div class="position-relative h-100 z-1 pb-120">
                        <div class="text-end tw-ps-14">
                            <div class="d-inline-block line-left position-relative">
                                <figure
                                    class="hover-animation-white split-reveal position-relative overflow-hidden group-item group bg-white d-inline-flex tw-p-24-px border border-2 tw-border-dashed border-black-15">
                                    <div class="split-reveal-element origin-left">
                                        <div
                                            class="hover-animation-white scale-up-wrapper position-relative overflow-hidden">
                                            <img src="assets/images/thumbs/about-four-img2.png"
                                                class="object-fit-cover scale-up__img w-100 h-100" alt="About Image 2">
                                        </div>
                                    </div>
                                </figure>
                            </div>
                            <div class="d-flex align-items-center justify-content-end tw-gap-4 tw-mt-7 text-end position-relative z-1 bg-white position-absolute bottom-0 tw-end-0 tw-ps-6 tw-pt-6 tw-pb-6">
                                <span class="text-heading h5 tw-pe-1 text-start">
                                    Happy <br> Customer
                                </span>
                                <span class="tw-h-10 tw-w-1 bg-neutral-300"></span>
                                <h2 class="text-main fw-semibold">95%</h2>
                            </div>
                        </div>
                        <div class="position-absolute tw-start-0 bottom-0 z-n1">
                            <figure
                                class="hover-animation-white split-reveal position-relative overflow-hidden group-item group bg-white d-inline-flex tw-p-24-px border border-2 tw-border-dashed border-black-15">
                                <div class="split-reveal-element origin-left h-100">
                                    <div
                                        class="hover-animation-white scale-up-wrapper position-relative overflow-hidden h-100">
                                        <img src="assets/images/thumbs/about-four-img1.png"
                                            class="object-fit-cover scale-up__img w-100 h-100" alt="About Image 1">
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">
                    <div class="section-heading tw-mb-8">
                        <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">
                            <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                            <span class="text-main fw-semibold tw-text-lg text-uppercase">Complete Auto Care</span>
                        </div>
                        <h2 class="splitTextStyleOne" data-aos="fade-up">Highly Trained And Highly Experienced</h2>
                        <p class="tw-mt-6 text-capitalize max-w-576-px" data-aos="fade-up" data-aos-duration="800"
                            data-aos-delay="200">mixtures of a metal and other elents.They
                            generally provide
                            greater stregth over pure metal, which usually much softer and more ducle. We're more Repair
                            many variations of passages of Lorem.</p>
                    </div>

                    <ul class="list-unstyled nav nav-pills common-tab section-bg border-start border-4 border-main" id="pills-tab"
                        role="tablist" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <li class="nav-item flex-shrink-0 flex-grow-1" role="presentation">
                            <button
                                class="nav-link tw-py-4 w-100 tw-text-lg fw-semibold text-capitalize text-body rounded-0"
                                id="pills-ourMission-tab" data-bs-toggle="pill" data-bs-target="#pills-ourMission"
                                type="button" role="tab" aria-controls="pills-ourMission" aria-selected="false">Our
                                Mission</button>
                        </li>
                        <li class="nav-item flex-shrink-0 flex-grow-1" role="presentation">
                            <button
                                class="nav-link tw-py-4 w-100 tw-text-lg fw-semibold text-capitalize text-body rounded-0"
                                id="pills-ourVision-tab" data-bs-toggle="pill" data-bs-target="#pills-ourVision"
                                type="button" role="tab" aria-controls="pills-ourVision" aria-selected="false">Our
                                Vision</button>
                        </li>
                        <li class="nav-item flex-shrink-0 flex-grow-1" role="presentation">
                            <button
                                class="nav-link tw-py-4 w-100 tw-text-lg fw-semibold text-capitalize text-body rounded-0 active"
                                id="pills-ourHistory-tab" data-bs-toggle="pill" data-bs-target="#pills-ourHistory"
                                type="button" role="tab" aria-controls="pills-ourHistory" aria-selected="true">Our
                                History</button>
                        </li>
                    </ul>
                    <div class="tab-content tw-mt-6" id="pills-tabContent" data-aos="fade-up" data-aos-duration="800"
                        data-aos-delay="400">
                        <div class="tab-pane fade" id="pills-ourMission" role="tabpanel"
                            aria-labelledby="pills-ourMission-tab" tabindex="0">
                            <div class="">
                                <p class="text-capitalize max-w-576-px">mixtures of a metal and other elents.They
                                    generally
                                    provide
                                    greater stregth over pure metal, which usually much softer.</p>
                                <div class="tw-mt-5">
                                    <ul class="list-unstyled d-flex flex-column tw-gap-4">
                                        <li class="d-flex align-items-center tw-gap-205">
                                            <span class="text-main d-flex tw-text-lg"><i
                                                    class="fa-solid fa-badge-check"></i></span>
                                            <span class="text-body fw-medium">Welcome to Mechano Services, where
                                                precision</span>
                                        </li>
                                        <li class="d-flex align-items-center tw-gap-205">
                                            <span class="text-main d-flex tw-text-lg"><i
                                                    class="fa-solid fa-badge-check"></i></span>
                                            <span class="text-body fw-medium">Come together to serve you</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-ourVision" role="tabpanel"
                            aria-labelledby="pills-ourVision-tab" tabindex="0">
                            <div class="">
                                <p class="text-capitalize max-w-576-px">mixtures of a metal and other elents.They
                                    generally
                                    provide
                                    greater stregth over pure metal, which usually much softer.</p>
                                <div class="tw-mt-5">
                                    <ul class="list-unstyled d-flex flex-column tw-gap-4">
                                        <li class="d-flex align-items-center tw-gap-205">
                                            <span class="text-main d-flex tw-text-lg"><i
                                                    class="fa-solid fa-badge-check"></i></span>
                                            <span class="text-body fw-medium">Welcome to Mechano Services, where
                                                precision</span>
                                        </li>
                                        <li class="d-flex align-items-center tw-gap-205">
                                            <span class="text-main d-flex tw-text-lg"><i
                                                    class="fa-solid fa-badge-check"></i></span>
                                            <span class="text-body fw-medium">Come together to serve you</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade  show active" id="pills-ourHistory" role="tabpanel"
                            aria-labelledby="pills-ourHistory-tab" tabindex="0">
                            <div class="">
                                <p class="text-capitalize max-w-576-px">mixtures of a metal and other elents.They
                                    generally
                                    provide
                                    greater stregth over pure metal, which usually much softer.</p>
                                <div class="tw-mt-5">
                                    <ul class="list-unstyled d-flex flex-column tw-gap-4">
                                        <li class="d-flex align-items-center tw-gap-205">
                                            <span class="text-main d-flex tw-text-lg"><i
                                                    class="fa-solid fa-badge-check"></i></span>
                                            <span class="text-body fw-medium">Welcome to Mechano Services, where
                                                precision</span>
                                        </li>
                                        <li class="d-flex align-items-center tw-gap-205">
                                            <span class="text-main d-flex tw-text-lg"><i
                                                    class="fa-solid fa-badge-check"></i></span>
                                            <span class="text-body fw-medium">Come together to serve you</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tw-mt-10" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                        <a href="about.html"
                            class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape tw-tracking-2-percent"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">
                                More about
                                <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i
                                        class="fa-solid fa-plus"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== About section end ============================== -->