<!-- ========================== About section start ============================== -->
<section class="about-one py-120">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <div class="d-flex flex-lg-column flex-sm-row tw-gap-4">
                            <div class="text-end">
                                <figure
                                    class="hover-animation-white split-reveal position-relative overflow-hidden group-item group tw-rounded-3xl d-inline-block">
                                    <div class="split-reveal-element origin-left">
                                        <img src="assets/images/thumbs/about-one-img1.png" alt="Thumb"
                                            class="tw-rounded-2xl w-100 h-100 object-fit-cover group-hover-item-scale-12 tw-duration-500">
                                    </div>
                                </figure>
                            </div>
                            <figure
                                class="hover-animation-white split-reveal position-relative overflow-hidden group-item group tw-rounded-3xl">
                                <div class="split-reveal-element origin-left">
                                    <img src="assets/images/thumbs/about-one-img2.png" alt="Thumb"
                                        class="tw-rounded-2xl w-100 h-100 object-fit-cover group-hover-item-scale-12 tw-duration-500">
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex flex-lg-column flex-sm-row tw-gap-4">
                            <div class="text-end">
                                <figure
                                    class="hover-animation-white split-reveal position-relative overflow-hidden group-item group tw-rounded-3xl">
                                    <div class="split-reveal-element origin-left">
                                        <img src="assets/images/thumbs/about-one-img3.png" alt="Thumb"
                                            class="tw-rounded-2xl w-100 h-100 object-fit-cover group-hover-item-scale-12 tw-duration-500">
                                    </div>
                                </figure>
                            </div>
                            <div class="bg-main tw-rounded-2xl tw-p-205">
                                <div class="border tw-border-dashed border-white tw-rounded-2xl">
                                    <div class="d-flex align-items-center tw-gap-205">
                                        <span class="">
                                            <img src="assets/images/icons/rounded-star-icon.png"
                                                alt="Rounded Star Icon">
                                        </span>
                                        <h4 class="h2 text-white">99%</h4>
                                    </div>
                                    <span class="fw-bold tw-text-xl text-capitalize text-white">Customer pleasure</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class=""></div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== About section end ============================== -->