<!-- ========================== Banner three section start ============================= -->
<section class="banner-section position-relative">
    <div class="swiper banner-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="banner-padding position-relative bg-img background-img overflow-hidden z-1"
                    data-background-image="assets/images/thumbs/banner-two-bg2.png">
                    <div class="container">
                        <div class="banner-contents tw-px-4">
                            <div class="max-w-780-px">
                                <div class="banner-item">
                                    <span
                                        class="animate-left-right animation-delay-08 tw-text-505 fw-bold text-uppercase text-main tw-mb-2">Quality
                                        service center</span>
                                    <h1
                                        class="animate-left-right animation-delay-1 text-white splitTextStyleOne text-uppercase line-height-95-px">
                                        complete auto <span class="text-main d-inline">repair</span>
                                    </h1>
                                    <p
                                        class="text-white text-capitalize max-w-530-px tw-text-lg tw-mt-6 animate-left-right animation-delay-12">
                                        best car service center in repair providing top quality auto repair services for
                                        all
                                        vehicle types.</p>
                                    <div
                                        class="animate-left-right animation-delay-12 tw-mt-14 d-flex align-items-center tw-gap-4">
                                        <a href="contact.html"
                                            class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent tw-px-7"
                                            data-block="button">
                                            <span class="button__flair"></span>
                                            <span class="button__label">
                                                Contact Us
                                                <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i
                                                        class="fa-solid fa-plus"></i></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-padding position-relative bg-img background-img overflow-hidden z-1"
                    data-background-image="assets/images/thumbs/banner-two-bg.png">
                    <div class="container">
                        <div class="banner-contents tw-px-4">
                            <div class="max-w-780-px">
                                <div class="banner-item">
                                    <span
                                        class="animate-left-right animation-delay-08 tw-text-505 fw-bold text-uppercase text-main tw-mb-2">Quality
                                        service center</span>
                                    <h1
                                        class="animate-left-right animation-delay-1 text-white splitTextStyleOne text-uppercase line-height-95-px">
                                        Premium Repair <span class="text-main d-inline">Center</span>
                                    </h1>
                                    <p
                                        class="text-white text-capitalize max-w-530-px tw-text-lg tw-mt-6 animate-left-right animation-delay-12">
                                        best car service center in repair providing top quality auto repair services for
                                        all
                                        vehicle types.</p>
                                    <div
                                        class="animate-left-right animation-delay-12 tw-mt-14 d-flex align-items-center tw-gap-4">
                                        <a href="contact.html"
                                            class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent tw-px-7"
                                            data-block="button">
                                            <span class="button__flair"></span>
                                            <span class="button__label">
                                                Contact Us
                                                <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i
                                                        class="fa-solid fa-plus"></i></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-pagination-wrapper pagination-absolute-bottom w-100 tw-mt-150-px z-3 mb-">
            <div class="container">
                <div class="banner-slider-pagination tw-mt-150-px z-3"></div>
            </div>
        </div>
    </div>
      <div class="bg-main position-absolute bottom-0 tw-start-0 w-100 tw-h-16 plain-stair-shape z-3">
        <img src="assets/images/shapes/banner-three-wheel-shape.png" alt="Banner three shape">
    </div>
</section>
<!-- ========================== Banner three section end ============================= -->