<!-- ========================== Banner Four section start ============================= -->
<section class="banner-four position-relative bg-img background-img overflow-hidden z-1"
    data-background-image="assets/images/bg/banner-four-bg.png">
    <div class="position-absolute bottom-0 tw-start-0 w-100 z-n1">
        <img src="assets/images/shapes/wheel-line-shape.png" alt="Wheel line shape" class="w-100">
    </div>

    <div class="container position-relative">
        <div class="max-w-685-px">
            <div class="swiper banner-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner-item">
                            <span
                                class="animate-left-right animation-delay-08 tw-text-505 fw-bold text-white text-uppercase tw-mb-2">25%
                                off New
                                Customer</span>
                            <h1 class="animate-left-right animation-delay-1 text-white splitTextStyleOne">Tuning & <span
                                    class="text-main">Detailing</span> <span class="fw-normal">Service</span> </h1>
                            <div
                                class="animate-left-right animation-delay-12 tw-mt-14 d-flex align-items-center tw-gap-4">
                                <a href="contact.html"
                                    class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent"
                                    data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">
                                        Our Service
                                        <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i
                                                class="fa-solid fa-plus"></i></span>
                                    </span>
                                </a>
                                <a href="contact.html"
                                    class="btn btn-white hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent"
                                    data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">
                                        View more
                                        <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i
                                                class="fa-solid fa-plus"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-item">
                            <span
                                class="animate-left-right animation-delay-08 tw-text-505 fw-bold text-white text-uppercase tw-mb-2">Trusted
                                Repair
                                Experts</span>
                            <h1 class="animate-left-right animation-delay-1 text-white splitTextStyleOne">Premium <span
                                    class="text-main">Repairs</span> <span class="fw-normal">Center</span> </h1>
                            <div
                                class="animate-left-right animation-delay-12 tw-mt-14 d-flex align-items-center tw-gap-4">
                                <a href="contact.html"
                                    class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent"
                                    data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">
                                        Our Service
                                        <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i
                                                class="fa-solid fa-plus"></i></span>
                                    </span>
                                </a>
                                <a href="contact.html"
                                    class="btn btn-white hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent"
                                    data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">
                                        View more
                                        <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i
                                                class="fa-solid fa-plus"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-item">
                            <span
                                class="animate-left-right animation-delay-08 tw-text-505 fw-bold text-white text-uppercase tw-mb-2">Smart
                                Solutions for
                                You</span>
                            <h1 class="animate-left-right animation-delay-1 text-white splitTextStyleOne">Advanced &
                                <span class="text-main">Repair</span> <span class="fw-normal">Center</span>
                            </h1>
                            <div
                                class="animate-left-right animation-delay-12 tw-mt-14 d-flex align-items-center tw-gap-4">
                                <a href="contact.html"
                                    class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent"
                                    data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">
                                        Our Service
                                        <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i
                                                class="fa-solid fa-plus"></i></span>
                                    </span>
                                </a>
                                <a href="contact.html"
                                    class="btn btn-white hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent"
                                    data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">
                                        View more
                                        <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i
                                                class="fa-solid fa-plus"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-slider-pagination tw-mt-150-px"></div>
            </div>
        </div>

        <div class="position-absolute tw-end-0 top-50 translate-middle-y banner-four-img d-lg-block d-none">
            <div class="">
                <img src="assets/images/thumbs/banner-four-img.png" alt="Banner Mans image" data-aos="fade-up"
                    data-aos-duration="1000" data-aos-delay="100">
            </div>
        </div>

    </div>
</section>
<!-- ========================== Banner Four section end ============================= -->