<!-- ========================== Banner One section start ============================= -->
<section class="banner-one bg-main-two position-relative">
    <div class="container">
        <div class="max-w-685-px">
            <span class="tw-text-505 fw-bold text-white text-uppercase tw-mb-2">25% off New Customer</span>
            <h1 class="text-white splitTextStyleOne">Premium <span class="text-main">Repairs</span> Center</h1>
            <div class="tw-mt-14 d-flex align-items-center tw-gap-4">
                <a href="contact.html"
                    class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent"
                    data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">
                        Our Service 
                        <span class="tw-ps-2 tw-text-sm"><i class="fa-solid fa-plus"></i></span> 
                    </span>
                </a>
                <a href="contact.html"
                    class="btn btn-white hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent"
                    data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">
                        View more 
                        <span class="tw-ps-2 tw-text-sm"><i class="fa-solid fa-plus"></i></span> 
                    </span>
                </a>
            </div>
        </div>
        <div class="banner-image-wrapper position-absolute bottom-0">
            <div class="">
                <img src="assets/images/thumbs/banner-one-img1.png" alt="Banner Image One">
            </div>
            <div class="position-absolute top-0 end-0">
                <img src="assets/images/thumbs/wheel.png" alt="Wheel Image" class="animation-rotate-right">
            </div>
        </div>
    </div>
</section>
<!-- ========================== Banner One section end ============================= -->