<!-- =============================== Product two section start ============================= -->
<section class="product py-120">
    <div class="container">
        <div class="section-heading tw-mb-11 text-center">
            <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                <span class="text-main fw-semibold tw-text-lg text-uppercase">our best selling</span>
                <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
            </div>
            <h2 class="splitTextStyleOne" data-aos="fade-up">Hot This Week</h2>
        </div>

        <div class="row gy-4">
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="product-item group group-item z-1 overflow-hidden">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative tw-rounded-md overflow-hidden z-1 hover-bg-main-light bg-light-dark tw-h-320-px bg-neutral-200">
                        <a href="product-details.html" class="w-100 h-100 d-block tw-rounded-md overflow-hidden  d-flex justify-content-center align-items-center">
                            <img src="assets/images/thumbs/product-img1.png"
                                class="" alt="project Image 1">
                        </a>
                        <div
                            class="d-flex align-items-center tw-gap-2 position-absolute top-0 start-50 z-2 tw-duration-500 action-buttons">
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-regular fa-basket-shopping"></i>
                            </button>
                        </div>
                        <div
                            class="select-option-btn position-absolute bottom-0 start-50 z-2 tw-duration-500 max-w-220-px w-100">
                            <button type="button"
                                class="text-uppercase bg-white tw-px-4 tw-py-4 text-main fw-bold w-100 tw-rounded-md hover-bg-main hover-text-white tw-duration-500 common-shadow-three">select
                                options</button>
                        </div>
                    </div>
                    <div class="tw-mt-505">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <span class="tw-text-sm fw-bold text-uppercase text-neutral-600">brake</span>
                            <button type="button"
                                class="text-neutral-600 tw-text-2xl tw-leading-none d-flex tw-mt-105 tw-me-105 hover-text-main tw-duration-300 wishlist-btn hover-scale-2 active-scale-102">
                                <i class="fa-regular fa-heart tw-duration-200"></i>
                            </button>
                        </div>
                        <h2 class="tw-text-lg">
                            <a href="product-details.html" class="text-uppercase">Car Disc brake</a>
                        </h2>
                        <h2 class="tw-text-lg tw-mt-4">
                            <span class="text-neutral-600">$145.00 </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="product-item group group-item z-1 overflow-hidden">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative tw-rounded-md overflow-hidden z-1 hover-bg-main-light bg-light-dark tw-h-320-px bg-neutral-200">
                        <a href="product-details.html" class="w-100 h-100 d-block tw-rounded-md overflow-hidden  d-flex justify-content-center align-items-center">
                            <img src="assets/images/thumbs/product-img2.png"
                                class="" alt="project Image 2">
                        </a>
                        <div
                            class="d-flex align-items-center tw-gap-2 position-absolute top-0 start-50 z-2 tw-duration-500 action-buttons">
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-regular fa-basket-shopping"></i>
                            </button>
                        </div>
                        <div
                            class="select-option-btn position-absolute bottom-0 start-50 z-2 tw-duration-500 max-w-220-px w-100">
                            <button type="button"
                                class="text-uppercase bg-white tw-px-4 tw-py-4 text-main fw-bold w-100 tw-rounded-md hover-bg-main hover-text-white tw-duration-500 common-shadow-three">select
                                options</button>
                        </div>
                    </div>
                    <div class="tw-mt-505">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <span class="tw-text-sm fw-bold text-uppercase text-neutral-600">tuning</span>
                            <button type="button"
                                class="text-neutral-600 tw-text-2xl tw-leading-none d-flex tw-mt-105 tw-me-105 hover-text-main tw-duration-300 wishlist-btn hover-scale-2 active-scale-102">
                                <i class="fa-regular fa-heart tw-duration-200"></i>
                            </button>
                        </div>
                        <h2 class="tw-text-lg">
                            <a href="product-details.html" class="text-uppercase">Engine Filter</a>
                        </h2>
                        <h2 class="tw-text-lg tw-mt-4">
                            <span class="text-neutral-600">$145.00 </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                <div class="product-item group group-item z-1 overflow-hidden">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative tw-rounded-md overflow-hidden z-1 hover-bg-main-light bg-light-dark tw-h-320-px bg-neutral-200">
                        <a href="product-details.html" class="w-100 h-100 d-block tw-rounded-md overflow-hidden  d-flex justify-content-center align-items-center">
                            <img src="assets/images/thumbs/product-img3.png"
                                class="" alt="project Image 3">
                        </a>
                        <div
                            class="d-flex align-items-center tw-gap-2 position-absolute top-0 start-50 z-2 tw-duration-500 action-buttons">
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-regular fa-basket-shopping"></i>
                            </button>
                        </div>
                        <div
                            class="select-option-btn position-absolute bottom-0 start-50 z-2 tw-duration-500 max-w-220-px w-100">
                            <button type="button"
                                class="text-uppercase bg-white tw-px-4 tw-py-4 text-main fw-bold w-100 tw-rounded-md hover-bg-main hover-text-white tw-duration-500 common-shadow-three">select
                                options</button>
                        </div>
                    </div>
                    <div class="tw-mt-505">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <span class="tw-text-sm fw-bold text-uppercase text-neutral-600">car rim</span>
                            <button type="button"
                                class="text-neutral-600 tw-text-2xl tw-leading-none d-flex tw-mt-105 tw-me-105 hover-text-main tw-duration-300 wishlist-btn hover-scale-2 active-scale-102">
                                <i class="fa-regular fa-heart tw-duration-200"></i>
                            </button>
                        </div>
                        <h2 class="tw-text-lg">
                            <a href="product-details.html" class="text-uppercase">Custom wheel</a>
                        </h2>
                        <h2 class="tw-text-lg tw-mt-4">
                            <span class="text-neutral-600">$145.00 </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="700">
                <div class="product-item group group-item z-1 overflow-hidden">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative tw-rounded-md overflow-hidden z-1 hover-bg-main-light bg-light-dark tw-h-320-px bg-neutral-200">
                        <a href="product-details.html" class="w-100 h-100 d-block tw-rounded-md overflow-hidden  d-flex justify-content-center align-items-center">
                            <img src="assets/images/thumbs/product-img4.png"
                                class="" alt="project Image 4">
                        </a>
                        <div
                            class="d-flex align-items-center tw-gap-2 position-absolute top-0 start-50 z-2 tw-duration-500 action-buttons">
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-regular fa-basket-shopping"></i>
                            </button>
                        </div>
                        <div
                            class="select-option-btn position-absolute bottom-0 start-50 z-2 tw-duration-500 max-w-220-px w-100">
                            <button type="button"
                                class="text-uppercase bg-white tw-px-4 tw-py-4 text-main fw-bold w-100 tw-rounded-md hover-bg-main hover-text-white tw-duration-500 common-shadow-three">select
                                options</button>
                        </div>
                    </div>
                    <div class="tw-mt-505">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <span class="tw-text-sm fw-bold text-uppercase text-neutral-600">Motor</span>
                            <button type="button"
                                class="text-neutral-600 tw-text-2xl tw-leading-none d-flex tw-mt-105 tw-me-105 hover-text-main tw-duration-300 wishlist-btn hover-scale-2 active-scale-102">
                                <i class="fa-regular fa-heart tw-duration-200"></i>
                            </button>
                        </div>
                        <h2 class="tw-text-lg">
                            <a href="product-details.html" class="text-uppercase">oil Engine</a>
                        </h2>
                        <h2 class="tw-text-lg tw-mt-4">
                            <span class="text-neutral-600">$145.00 </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="product-item group group-item z-1 overflow-hidden">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative tw-rounded-md overflow-hidden z-1 hover-bg-main-light bg-light-dark tw-h-320-px bg-neutral-200">
                        <a href="product-details.html" class="w-100 h-100 d-block tw-rounded-md overflow-hidden  d-flex justify-content-center align-items-center">
                            <img src="assets/images/thumbs/product-img5.png"
                                class="" alt="project Image 1">
                        </a>
                        <div
                            class="d-flex align-items-center tw-gap-2 position-absolute top-0 start-50 z-2 tw-duration-500 action-buttons">
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-regular fa-basket-shopping"></i>
                            </button>
                        </div>
                        <div
                            class="select-option-btn position-absolute bottom-0 start-50 z-2 tw-duration-500 max-w-220-px w-100">
                            <button type="button"
                                class="text-uppercase bg-white tw-px-4 tw-py-4 text-main fw-bold w-100 tw-rounded-md hover-bg-main hover-text-white tw-duration-500 common-shadow-three">select
                                options</button>
                        </div>
                    </div>
                    <div class="tw-mt-505">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <span class="tw-text-sm fw-bold text-uppercase text-neutral-600">lighting</span>
                            <button type="button"
                                class="text-neutral-600 tw-text-2xl tw-leading-none d-flex tw-mt-105 tw-me-105 hover-text-main tw-duration-300 wishlist-btn hover-scale-2 active-scale-102">
                                <i class="fa-regular fa-heart tw-duration-200"></i>
                            </button>
                        </div>
                        <h2 class="tw-text-lg">
                            <a href="product-details.html" class="text-uppercase">car headlight</a>
                        </h2>
                        <h2 class="tw-text-lg tw-mt-4">
                            <span class="text-neutral-600">$145.00 </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="product-item group group-item z-1 overflow-hidden">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative tw-rounded-md overflow-hidden z-1 hover-bg-main-light bg-light-dark tw-h-320-px bg-neutral-200">
                        <a href="product-details.html" class="w-100 h-100 d-block tw-rounded-md overflow-hidden  d-flex justify-content-center align-items-center">
                            <img src="assets/images/thumbs/product-img6.png"
                                class="" alt="project Image 6">
                        </a>
                        <div
                            class="d-flex align-items-center tw-gap-2 position-absolute top-0 start-50 z-2 tw-duration-500 action-buttons">
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-regular fa-basket-shopping"></i>
                            </button>
                        </div>
                        <div
                            class="select-option-btn position-absolute bottom-0 start-50 z-2 tw-duration-500 max-w-220-px w-100">
                            <button type="button"
                                class="text-uppercase bg-white tw-px-4 tw-py-4 text-main fw-bold w-100 tw-rounded-md hover-bg-main hover-text-white tw-duration-500 common-shadow-three">select
                                options</button>
                        </div>
                    </div>
                    <div class="tw-mt-505">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <span class="tw-text-sm fw-bold text-uppercase text-neutral-600">tuning</span>
                            <button type="button"
                                class="text-neutral-600 tw-text-2xl tw-leading-none d-flex tw-mt-105 tw-me-105 hover-text-main tw-duration-300 wishlist-btn hover-scale-2 active-scale-102">
                                <i class="fa-regular fa-heart tw-duration-200"></i>
                            </button>
                        </div>
                        <h2 class="tw-text-lg">
                            <a href="product-details.html" class="text-uppercase">Steering wheel</a>
                        </h2>
                        <h2 class="tw-text-lg tw-mt-4">
                            <span class="text-neutral-600">$145.00 </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                <div class="product-item group group-item z-1 overflow-hidden">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative tw-rounded-md overflow-hidden z-1 hover-bg-main-light bg-light-dark tw-h-320-px bg-neutral-200">
                        <a href="product-details.html" class="w-100 h-100 d-block tw-rounded-md overflow-hidden  d-flex justify-content-center align-items-center">
                            <img src="assets/images/thumbs/product-img7.png"
                                class="" alt="project Image 7">
                        </a>
                        <div
                            class="d-flex align-items-center tw-gap-2 position-absolute top-0 start-50 z-2 tw-duration-500 action-buttons">
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-regular fa-basket-shopping"></i>
                            </button>
                        </div>
                        <div
                            class="select-option-btn position-absolute bottom-0 start-50 z-2 tw-duration-500 max-w-220-px w-100">
                            <button type="button"
                                class="text-uppercase bg-white tw-px-4 tw-py-4 text-main fw-bold w-100 tw-rounded-md hover-bg-main hover-text-white tw-duration-500 common-shadow-three">select
                                options</button>
                        </div>
                    </div>
                    <div class="tw-mt-505">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <span class="tw-text-sm fw-bold text-uppercase text-neutral-600">Shock absorber </span>
                            <button type="button"
                                class="text-neutral-600 tw-text-2xl tw-leading-none d-flex tw-mt-105 tw-me-105 hover-text-main tw-duration-300 wishlist-btn hover-scale-2 active-scale-102">
                                <i class="fa-regular fa-heart tw-duration-200"></i>
                            </button>
                        </div>
                        <h2 class="tw-text-lg">
                            <a href="product-details.html" class="text-uppercase">Custom wheel</a>
                        </h2>
                        <h2 class="tw-text-lg tw-mt-4">
                            <span class="text-neutral-600">$145.00 </span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="700">
                <div class="product-item group group-item z-1 overflow-hidden">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative tw-rounded-md overflow-hidden z-1 hover-bg-main-light bg-light-dark tw-h-320-px bg-neutral-200">
                        <a href="product-details.html" class="w-100 h-100 d-block tw-rounded-md overflow-hidden  d-flex justify-content-center align-items-center">
                            <img src="assets/images/thumbs/product-img8.png"
                                class="" alt="project Image 8">
                        </a>
                        <div
                            class="d-flex align-items-center tw-gap-2 position-absolute top-0 start-50 z-2 tw-duration-500 action-buttons">
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button type="button"
                                class="tw-w-12 tw-h-12 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-white hover-bg-main tw-duration-500">
                                <i class="fa-regular fa-basket-shopping"></i>
                            </button>
                        </div>
                        <div
                            class="select-option-btn position-absolute bottom-0 start-50 z-2 tw-duration-500 max-w-220-px w-100">
                            <button type="button"
                                class="text-uppercase bg-white tw-px-4 tw-py-4 text-main fw-bold w-100 tw-rounded-md hover-bg-main hover-text-white tw-duration-500 common-shadow-three">select
                                options</button>
                        </div>
                    </div>
                    <div class="tw-mt-505">
                        <div class="d-flex align-items-center justify-content-between tw-gap-4">
                            <span class="tw-text-sm fw-bold text-uppercase text-neutral-600">Motor</span>
                            <button type="button"
                                class="text-neutral-600 tw-text-2xl tw-leading-none d-flex tw-mt-105 tw-me-105 hover-text-main tw-duration-300 wishlist-btn hover-scale-2 active-scale-102">
                                <i class="fa-regular fa-heart tw-duration-200"></i>
                            </button>
                        </div>
                        <h2 class="tw-text-lg">
                            <a href="product-details.html" class="text-uppercase">engine filter</a>
                        </h2>
                        <h2 class="tw-text-lg tw-mt-4">
                            <span class="text-neutral-600">$145.00 </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Product two section end ============================= -->