<!-- ========================= Blog section start ========================== -->
<section class="blog py-120 section-bg">
    <div class="container">
        <div class="section-heading tw-mb-11 text-center">
            <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                <span class="text-main fw-semibold tw-text-lg text-uppercase">Latest News</span>
                <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
            </div>
            <h2 class="splitTextStyleOne" data-aos="fade-up">Recent Blog Post</h2>
        </div>

        <div class="swiper blog-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div
                        class="bg-white tw-rounded-xl tw-p-4 d-flex tw-gap-30-px flex-sm-row flex-column flex-lg-column flex-xl-row common-shadow-three">
                        <a href="team-details.html"
                            class="w-100 d-flex tw-rounded-xl overflow-hidden hover-animation-white scale-up-wrapper hover-bg-main-light ">
                            <img src="assets/images/thumbs/blog-img1.png"
                                class="object-fit-cover scale-up__img w-100 h-100" alt="Blog Image 1">
                            <div
                                class="bg-main border border-white border-3 tw-px-4 tw-py-3 tw-rounded-xl text-center position-absolute top-0 tw-start-0 tw-mt-505 tw-ms-505">
                                <span class="d-block h3 text-white">24</span>
                                <span class="d-block h6 text-white text-uppercase">Aug</span>
                            </div>
                        </a>
                        <div class="align-self-center">
                            <div class="">
                                <div class="d-flex align-items-center tw-gap-205 tw-mb-6">
                                    <span
                                        class="fw-bold text-uppercase tw-text-base tw-px-4 tw-py-05 border border-neutral-200 tw-rounded text-main">Repair</span>
                                    <p class="fw-semibold tw-text-base text-heading">By <span
                                            class="text-body fw-normal">Tomas hak</span> </p>
                                </div>
                                <h3 class="h4">
                                    <a href="blog-details.html" class="hover-text-main">Providing The Client High
                                        Quality
                                        Service</a>
                                </h3>
                                <p class="text-body tw-mt-6">On the other hand we denounce with righteous indignation
                                    and
                                    dislikes men beguiled and demoral.</p>
                                <div class="tw-mt-10">
                                    <a href="blog-details.html"
                                        class="text-capitalize fw-bold tw-text-xl text-heading hover-text-heading group group-item d-flex align-items-center tw-gap-205">
                                        Read More
                                        <span
                                            class="tw-w-8 tw-h-8 d-flex align-items-center justify-content-center rounded-circle text-white bg-main-two tw-duration-300 group-hover-bg-main tw-text-sm">
                                            <i class="fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div
                        class="bg-white tw-rounded-xl tw-p-4 d-flex tw-gap-30-px flex-sm-row flex-column flex-lg-column flex-xl-row common-shadow-three">
                        <a href="team-details.html"
                            class="w-100 d-flex tw-rounded-xl overflow-hidden hover-animation-white scale-up-wrapper hover-bg-main-light ">
                            <img src="assets/images/thumbs/blog-img2.png"
                                class="object-fit-cover scale-up__img w-100 h-100" alt="Blog Image 2">
                            <div
                                class="bg-main border border-white border-3 tw-px-4 tw-py-3 tw-rounded-xl text-center position-absolute top-0 tw-start-0 tw-mt-505 tw-ms-505">
                                <span class="d-block h3 text-white">29</span>
                                <span class="d-block h6 text-white text-uppercase">Sep</span>
                            </div>
                        </a>
                        <div class="align-self-center">
                            <div class="">
                                <div class="d-flex align-items-center tw-gap-205 tw-mb-6">
                                    <span
                                        class="fw-bold text-uppercase tw-text-base tw-px-4 tw-py-05 border border-neutral-200 tw-rounded text-main">Vehicle</span>
                                    <p class="fw-semibold tw-text-base text-heading">By <span
                                            class="text-body fw-normal">Tomas hak</span> </p>
                                </div>
                                <h3 class="h4">
                                    <a href="blog-details.html" class="hover-text-main">Well Trained Members Members</a>
                                </h3>
                                <p class="text-body tw-mt-6">On the other hand we denounce with righteous indignation
                                    and
                                    dislikes men beguiled and demoral.</p>
                                <div class="tw-mt-10">
                                    <a href="blog-details.html"
                                        class="text-capitalize fw-bold tw-text-xl text-heading hover-text-heading group group-item d-flex align-items-center tw-gap-205">
                                        Read More
                                        <span
                                            class="tw-w-8 tw-h-8 d-flex align-items-center justify-content-center rounded-circle text-white bg-main-two tw-duration-300 group-hover-bg-main tw-text-sm">
                                            <i class="fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="swiper-slide">
                    <div
                        class="bg-white tw-rounded-xl tw-p-4 d-flex tw-gap-30-px flex-sm-row flex-column flex-lg-column flex-xl-row common-shadow-three">
                        <a href="team-details.html"
                            class="w-100 d-flex tw-rounded-xl overflow-hidden hover-animation-white scale-up-wrapper hover-bg-main-light ">
                            <img src="assets/images/thumbs/blog-img1.png"
                                class="object-fit-cover scale-up__img w-100 h-100" alt="Blog Image 1">
                            <div
                                class="bg-main border border-white border-3 tw-px-4 tw-py-3 tw-rounded-xl text-center position-absolute top-0 tw-start-0 tw-mt-505 tw-ms-505">
                                <span class="d-block h3 text-white">24</span>
                                <span class="d-block h6 text-white text-uppercase">Aug</span>
                            </div>
                        </a>
                        <div class="align-self-center">
                            <div class="">
                                <div class="d-flex align-items-center tw-gap-205 tw-mb-6">
                                    <span
                                        class="fw-bold text-uppercase tw-text-base tw-px-4 tw-py-05 border border-neutral-200 tw-rounded text-main">Repair</span>
                                    <p class="fw-semibold tw-text-base text-heading">By <span
                                            class="text-body fw-normal">Tomas hak</span> </p>
                                </div>
                                <h3 class="h4">
                                    <a href="blog-details.html" class="hover-text-main">Providing The Client High
                                        Quality
                                        Service</a>
                                </h3>
                                <p class="text-body tw-mt-6">On the other hand we denounce with righteous indignation
                                    and
                                    dislikes men beguiled and demoral.</p>
                                <div class="tw-mt-10">
                                    <a href="blog-details.html"
                                        class="text-capitalize fw-bold tw-text-xl text-heading hover-text-heading group group-item d-flex align-items-center tw-gap-205">
                                        Read More
                                        <span
                                            class="tw-w-8 tw-h-8 d-flex align-items-center justify-content-center rounded-circle text-white bg-main-two tw-duration-300 group-hover-bg-main tw-text-sm">
                                            <i class="fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center tw-mt-13">
                <div class="blog-slider-pagination style-dark"></div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Blog section end ========================== -->