<!-- Blog sidebar start -->
<div class="sidebar-area">
    <div class="widget widget--search">
        <h3 class="wp-block-heading border-bottom-black-main text-heading border-neutral-300 tw-pb-5 tw-mb-9">
            Search </h3>
        <form action="#" class="wp-block-search">
            <div class="wp-block-search__inside-wrapper">
                <input class="wp-block-search__input" id="wp-block-search__input-1" placeholder="Search" type="search"
                    name="s">
                <button aria-label="Search" class="wp-block-search__button" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="widget">
        <div class="widget_categories">
            <h3 class="wp-block-heading border-bottom-black-main text-heading border-neutral-300 tw-pb-5 tw-mb-9">
                Categories </h3>
            <ul class="list-unstyled">
                <li>
                    <a href="blog-details.html">
                        <span class="">
                            <span class="icon">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Vehicle While Driving
                        </span>
                        <span class="number">
                            03
                        </span>
                    </a>
                </li>

                <li>
                    <a href="blog-details.html">
                        <span class="">
                            <span class="icon">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Car's Air Filters
                        </span>
                        <span class="number">
                            03
                        </span>
                    </a>
                </li>
                <li>
                    <a href="blog-details.html">
                        <span class="">
                            <span class="icon">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Automobile Solutions
                        </span>
                        <span class="number">
                            03
                        </span>
                    </a>
                </li>
                <li>
                    <a href="blog-details.html">
                        <span class="">
                            <span class="icon">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Vehicle While Driving
                        </span>
                        <span class="number">
                            03
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="widget">
        <h3 class="wp-block-heading border-bottom-black-main text-heading border-neutral-300 tw-pb-5 tw-mb-9">
            Recent Post </h3>
        <div class="recent-post-wrap">
            <div class="recent-post">
                <div class="media-img">
                    <a href="blog-details.html">
                        <img src="assets/images/thumbs/blog-rcp-1-1.png" alt="Toddly Blog Recent Post Image">
                    </a>
                </div>
                <div class="media-body">
                    <div class="recent-post-meta">
                        <span>
                            April 27, 2025
                        </span>
                    </div>
                    <h4 class="post-title">
                        <a href="blog-details.html">auto mechanic in History</a>
                    </h4>
                </div>
            </div>
            <div class="recent-post">
                <div class="media-img">
                    <a href="blog-details.html">
                        <img src="assets/images/thumbs/blog-rcp-1-2.png" alt="Toddly Blog Recent Post Image">
                    </a>
                </div>
                <div class="media-body">
                    <div class="recent-post-meta">
                        <span>
                            April 28, 2025
                        </span>
                    </div>
                    <h4 class="post-title">
                        <a href="blog-details.html">Indications That Car Needs Repair</a>
                    </h4>
                </div>
            </div>
            <div class="recent-post">
                <div class="media-img">
                    <a href="blog-details.html">
                        <img src="assets/images/thumbs/blog-rcp-1-3.png" alt="Toddly Blog Recent Post Image">
                    </a>
                </div>
                <div class="media-body">
                    <div class="recent-post-meta">
                        <span>
                            April 29, 2025
                        </span>
                    </div>
                    <h4 class="post-title">
                        <a href="blog-details.html">Updating on Electrical System</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="widget p-0">
        <div class="tw-rounded-xl tw-pt-14 tw-px-36-px bg-img background-img overflow-hidden z-1"
            data-background-image="assets/images/bg/service-details-promo-img.png">
            <div class="tw-mb-15 tw-pb-15">
                <div class="tw-pb-15 tw-mb-6">
                    <span class="fw-bold text-uppercase text-main d-block tw-mb-205">Auto
                        service</span>
                    <h3 class="h4 text-white text-uppercase max-w-310-px">get a free quick
                        solution</h3>
                    <div class="tw-mt-405">
                        <a href="contact.html"
                            class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder tw-tracking-2-percent"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">
                                get support
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget">
        <h3 class="wp-block-heading border-bottom-black-main text-heading border-neutral-300 tw-pb-5 tw-mb-9">
            tags </h3>
        <div class="tagcloud">
            <a href="#" class="tag-cloud-link">Vehicle</a>
            <a href="#" class="tag-cloud-link">Battery</a>
            <a href="#" class="tag-cloud-link">car wash</a>
            <a href="#" class="tag-cloud-link">engine oil</a>
            <a href="#" class="tag-cloud-link">safety while</a>
        </div>
    </div>

</div>
<!-- Blog sidebar end -->