<!-- ========================= Blog Three section start ========================== -->
<section class="blog-three py-110">
    <div class="container">
        <div class="section-heading tw-mb-11 text-center">
            <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                <span class="text-main fw-semibold tw-text-lg text-uppercase">Latest News</span>
                <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
            </div>
            <h2 class="splitTextStyleOne text-white" data-aos="fade-up">Latest Blog & Articles</h2>
        </div>

        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="blog-three-item">
                    <a href="team-details.html"
                        class="w-100 d-flex tw-rounded-xl overflow-hidden hover-animation-white scale-up-wrapper hover-bg-main-light tw-max-h-332-px">
                        <img src="assets/images/thumbs/blog-three-img1.png" class="object-fit-cover scale-up__img w-100 h-100"
                            alt="Blog Three Image 1">
                    </a>
                    <div class="tw-mt-8">
                        <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                            <span class="fw-bold tw-text-base text-uppercase text-white">Auto Care</span>
                            <span class="tw-w-px bg-neutral-600 tw-h-3"></span>
                            <span class="fw-bold tw-text-base text-uppercase text-dark-light">January 13, 2026</span>
                        </div>
                        <h3 class="h4 text-white">
                            <a href="blog-details.html" class="hover-text-main">Products for tuning OEM cars and
                                trucks</a>
                        </h3>
                        <div class="tw-mt-6">
                            <a href="blog-details.html"
                                class="text-capitalize fw-bold tw-text-xl text-main hover-text-white group group-item d-flex align-items-center tw-gap-205">
                                <span class="hover-underline">Read More</span>
                                <span
                                    class="tw-text-base d-flex tw-leading-none tw-mt-05">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="blog-three-item">
                    <a href="team-details.html"
                        class="w-100 d-flex tw-rounded-xl overflow-hidden hover-animation-white scale-up-wrapper hover-bg-main-light tw-max-h-332-px">
                        <img src="assets/images/thumbs/blog-three-img2.png" class="object-fit-cover scale-up__img w-100 h-100"
                            alt="Blog Three Image 2">
                    </a>
                    <div class="tw-mt-8">
                        <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                            <span class="fw-bold tw-text-base text-uppercase text-white">vehicle</span>
                            <span class="tw-w-px bg-neutral-600 tw-h-3"></span>
                            <span class="fw-bold tw-text-base text-uppercase text-dark-light">January 13, 2026</span>
                        </div>
                        <h3 class="h4 text-white">
                            <a href="blog-details.html" class="hover-text-main">Auto Repair & Workshop has dedicated service</a>
                        </h3>
                        <div class="tw-mt-6">
                            <a href="blog-details.html"
                                class="text-capitalize fw-bold tw-text-xl text-main hover-text-white group group-item d-flex align-items-center tw-gap-205">
                                <span class="hover-underline">Read More</span>
                                <span
                                    class="tw-text-base d-flex tw-leading-none tw-mt-05">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                <div class="blog-three-item">
                    <a href="team-details.html"
                        class="w-100 d-flex tw-rounded-xl overflow-hidden hover-animation-white scale-up-wrapper hover-bg-main-light tw-max-h-332-px">
                        <img src="assets/images/thumbs/blog-three-img3.png" class="object-fit-cover scale-up__img w-100 h-100"
                            alt="Blog Three Image 3">
                    </a>
                    <div class="tw-mt-8">
                        <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                            <span class="fw-bold tw-text-base text-uppercase text-white">news</span>
                            <span class="tw-w-px bg-neutral-600 tw-h-3"></span>
                            <span class="fw-bold tw-text-base text-uppercase text-dark-light">January 13, 2026</span>
                        </div>
                        <h3 class="h4 text-white">
                            <a href="blog-details.html" class="hover-text-main">luxury Cars and Other vehicles and trucks</a>
                        </h3>
                        <div class="tw-mt-6">
                            <a href="blog-details.html"
                                class="text-capitalize fw-bold tw-text-xl text-main hover-text-white group group-item d-flex align-items-center tw-gap-205">
                                <span class="hover-underline">Read More</span>
                                <span
                                    class="tw-text-base d-flex tw-leading-none tw-mt-05">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Blog Three section end ========================== -->