<!-- ========================= Blog four section start ========================== -->
<section class="blog py-120 section-bg">
    <div class="container">
        <div class="section-heading tw-mb-11 text-center">
            <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                <span class="text-main fw-semibold tw-text-lg text-uppercase">Latest News</span>
                <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
            </div>
            <h2 class="splitTextStyleOne" data-aos="fade-up">Latest News & Articles</h2>
        </div>

        <div class="row gy-4">
            <div class="col-xl-4 col-sm-6">
                <div class="bg-white common-shadow-four">
                    <a href="team-details.html"
                        class="w-100 d-flex overflow-hidden hover-animation-white scale-up-wrapper hover-bg-main-light tw-max-h-310-px">
                        <img src="assets/images/thumbs/blog-img1.png" class="object-fit-cover scale-up__img w-100 h-100" alt="Blog Image 1">
                    </a>
                    <div class="tw-px-32-px tw-py-9">
                        <div class="d-flex align-items-center tw-gap-4 tw-mb-4">
                            <span class="fw-semibold tw-text-base fw-medium text-neutral-600">By Admin</span>
                            <span class="tw-w-2 tw-h-2 bg-neutral-500 rounded-circle"></span>
                            <span class="fw-semibold tw-text-base fw-medium text-neutral-600">March 10, 2025</span>
                        </div>
                        <h3 class="h4">
                            <a href="blog-details.html" class="hover-text-main">Providing The Client High Quality
                                Service</a>
                        </h3>
                        <div class="tw-pt-8 tw-mt-6 border-top border-neutral-200">
                            <a href="#" class="bg-main-two tw-w-16 tw-h-14 d-flex justify-content-center align-items-center group-hover-bg-main tw-duration-500">
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Blog four section end ========================== -->