<!-- ========================= Blog two section start ========================== -->
<section class="blog-two py-110 section-bg">
    <div class="container">
        <div class="section-heading tw-mb-11 text-center">
            <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                <span class="text-main fw-semibold tw-text-lg text-uppercase">Latest News</span>
                <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
            </div>
            <h2 class="">Blog & Articles</h2>
        </div>

        <div class="row gy-5">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="blog-two-item">
                    <a href="team-details.html"
                        class="w-100 d-flex tw-rounded-xl overflow-hidden hover-animation-white scale-up-wrapper hover-bg-main-light tw-max-h-332-px">
                        <img src="assets/images/thumbs/blog-two-img1.png" class="object-fit-cover scale-up__img w-100 h-100"
                            alt="Blog Two Image 1">
                    </a>
                    <div class="tw-mt-8">
                        <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                            <span class="fw-bold tw-text-base text-uppercase text-heading">Auto Care</span>
                            <span class="tw-w-px bg-main-two tw-h-3"></span>
                            <span class="fw-bold tw-text-base text-uppercase text-neutral-600">January 13, 2026</span>
                        </div>
                        <h3 class="h4">
                            <a href="blog-details.html" class="hover-text-main">Products for tuning OEM cars and
                                trucks</a>
                        </h3>
                        <div class="tw-mt-6">
                            <a href="blog-details.html"
                                class="text-capitalize fw-bold tw-text-xl text-heading hover-text-main group group-item d-flex align-items-center tw-gap-205">
                                Read More
                                <span
                                    class="tw-w-8 tw-h-8 d-flex align-items-center justify-content-center rounded-circle text-white bg-main-two tw-duration-300 group-hover-bg-main tw-text-sm">
                                    <i class="fa-solid fa-arrow-up-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="blog-two-item">
                    <a href="team-details.html"
                        class="w-100 d-flex tw-rounded-xl overflow-hidden hover-animation-white scale-up-wrapper hover-bg-main-light tw-max-h-332-px">
                        <img src="assets/images/thumbs/blog-two-img2.png" class="object-fit-cover scale-up__img w-100 h-100"
                            alt="Blog Two Image 2">
                    </a>
                    <div class="tw-mt-8">
                        <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                            <span class="fw-bold tw-text-base text-uppercase text-heading">vehicle</span>
                            <span class="tw-w-px bg-main-two tw-h-3"></span>
                            <span class="fw-bold tw-text-base text-uppercase text-neutral-600">January 13, 2026</span>
                        </div>
                        <h3 class="h4">
                            <a href="blog-details.html" class="hover-text-main">Auto Repair & Workshop has dedicated service</a>
                        </h3>
                        <div class="tw-mt-6">
                            <a href="blog-details.html"
                                class="text-capitalize fw-bold tw-text-xl text-heading hover-text-main group group-item d-flex align-items-center tw-gap-205">
                                Read More
                                <span
                                    class="tw-w-8 tw-h-8 d-flex align-items-center justify-content-center rounded-circle text-white bg-main-two tw-duration-300 group-hover-bg-main tw-text-sm">
                                    <i class="fa-solid fa-arrow-up-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                <div class="blog-two-item">
                    <a href="team-details.html"
                        class="w-100 d-flex tw-rounded-xl overflow-hidden hover-animation-white scale-up-wrapper hover-bg-main-light tw-max-h-332-px">
                        <img src="assets/images/thumbs/blog-two-img3.png" class="object-fit-cover scale-up__img w-100 h-100"
                            alt="Blog Two Image 3">
                    </a>
                    <div class="tw-mt-8">
                        <div class="d-flex align-items-center tw-gap-3 tw-mb-3">
                            <span class="fw-bold tw-text-base text-uppercase text-heading">news</span>
                            <span class="tw-w-px bg-main-two tw-h-3"></span>
                            <span class="fw-bold tw-text-base text-uppercase text-neutral-600">January 13, 2026</span>
                        </div>
                        <h3 class="h4">
                            <a href="blog-details.html" class="hover-text-main">luxury Cars and Other vehicles and trucks</a>
                        </h3>
                        <div class="tw-mt-6">
                            <a href="blog-details.html"
                                class="text-capitalize fw-bold tw-text-xl text-heading hover-text-main group group-item d-flex align-items-center tw-gap-205">
                                Read More
                                <span
                                    class="tw-w-8 tw-h-8 d-flex align-items-center justify-content-center rounded-circle text-white bg-main-two tw-duration-300 group-hover-bg-main tw-text-sm">
                                    <i class="fa-solid fa-arrow-up-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Blog two section end ========================== -->