<!-- ===================== Book Appointment section start ========================= -->
<section class="book-appointment bg-main-two py-120 position-relative z-1">
    <img src="assets/images/thumbs/book-appointment-light-img.png" alt="Book Appointment Light Image"
        class="position-absolute bottom-0 tw-start-0 z-n1">

    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="">
                    <div class="section-heading tw-mb-12">
                        <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">
                            <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                            <span class="text-main fw-semibold tw-text-lg text-uppercase">Complete Auto Care</span>
                        </div>
                        <h2 class="splitTextStyleOne text-white" data-aos="fade-up">Book An Appointment</h2>
                    </div>
                    <form class="form-submit" action="#">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <div class="">
                                    <input type="text"
                                        class="placeholder-text-light bg-neutral-800 border border-neutral-800 tw-py-5 tw-px-505 tw-rounded-lg shadow-none outline-0 text-white focus-border-main w-100"
                                        placeholder="Your Name *" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <input type="email"
                                        class="placeholder-text-light bg-neutral-800 border border-neutral-800 tw-py-5 tw-px-505 tw-rounded-lg shadow-none outline-0 text-white focus-border-main w-100"
                                        placeholder="Your Email *" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <select
                                        class="placeholder-text-light bg-neutral-800 border border-neutral-800 tw-py-5 tw-px-505 tw-rounded-lg shadow-none outline-0 focus-border-main w-100 text-dark-light form-select select-arrow-white">
                                        <option value="Type of Service">Type of Service</option>
                                        <option value="Car Repair">Car Repair</option>
                                        <option value="Motor Repair">Motor Repair</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <input type="date"
                                        class="placeholder-text-light bg-neutral-800 border border-neutral-800 tw-py-5 tw-px-505 tw-rounded-lg shadow-none outline-0 focus-border-main w-100 text-dark-light" required>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="">
                                    <textarea
                                        class="placeholder-text-light bg-neutral-800 border border-neutral-800 tw-py-5 tw-px-505 tw-rounded-lg shadow-none outline-0 text-white focus-border-main w-100 tw-h-130-px"
                                        placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="tw-mt-4">
                                    <button type="submit"
                                        class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent tw-py-6"
                                        data-block="button">
                                        <span class="button__flair"></span>
                                        <span class="button__label">
                                            Get a quote
                                            <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i
                                                    class="fa-solid fa-plus"></i></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="book-appointment__thumb w-40-percent position-absolute tw-end-0 top-0 h-100 d-lg-block d-none">
        <div class="hover-animation-white scale-up-wrapper position-relative overflow-hidden h-100">
            <img src="assets/images/thumbs/book-appointment-img.png" class="object-fit-cover scale-up__img"
                alt="Agency Video Image">
        </div>
        <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
            class="tw-w-110-px tw-h-110-px d-inline-flex justify-content-center align-items-center bg-white text-main hover-text-white hover-bg-main rounded-circle tw-text-3xl position-absolute start-50 translate-middle top-50 z-1 play-button">
            <i class="fa-duotone fa-solid fa-play"></i>
        </a>
    </div>
</section>
<!-- ===================== Book Appointment section end ========================= -->