  <!-- bottom Footer -->
  <div class="border-top bg-main border-dashed border-neutral-800 border-0 tw-py-8">
    <div class="container container-two">
      <div class="d-flex align-items-center justify-content-between tw-gap-4 flex-wrap">
        <p class="text-white text-line-1 fw-semibold">
          &copy; Copyright 2025
          <span class="fw-semibold text-heading">AUTOFX</span>
          .All Rights Reserved By
          <a href="https://themeforest.net/user/vecuro_themes"
            class="fw-semibold text-heading hover-underline hover-text-white">Vecuro</a>
        </p>
        <div class="mb-0 aos-init">
          <img src="assets/images/thumbs/payment-method-image.png" alt="Payment Method Image">
        </div>
      </div>
    </div>
  </div>