<!-- ========================== brand section start ============================== -->
<div class="brand-one bg-main-two overflow-hidden position-relative">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="d-flex align-items-center tw-gap-4 tw-py-6 h-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="position-relative">
                        <span class="">
                            <img src="assets/images/thumbs/experience-img.png" alt="Experience Image">
                        </span>
                        <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
                            class="play-button tw-text-2xl d-inline-flex position-absolute start-50 top-50 translate-middle z-1 text--white hover-text-main">
                            <i class="fa-duotone fa-solid fa-play"></i>
                        </a>
                    </div>
                    <div class="d-flex align-items-center tw-gap-2">
                        <h2 class="text-white">35</h2>
                        <div class="">
                            <span class="d-block fw-bolder text-uppercase text-white">year of</span>
                            <h2 class="h3 text-capitalize text-white tw-leading-none">Experience</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="h-100 xl-bg-main-two">
                    <div class="swiper brand-one-slider tw-py-705 left-right-gradient gradient-width-200 height-90-percent h-100">
                        <div class="swiper-wrapper h-100">
                            <div class="swiper-slide h-100 d-flex align-items-center justify-content-xl-center justify-content-start">
                                <div class="text-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                                    <img src="assets/images/thumbs/brand-img1.png" alt="Brand Logo 1">
                                </div>
                            </div>
                            <div class="swiper-slide h-100 d-flex align-items-center justify-content-xl-center justify-content-start">
                                <div class="text-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                                    <img src="assets/images/thumbs/brand-img2.png" alt="Brand Logo 2">
                                </div>
                            </div>
                            <div class="swiper-slide h-100 d-flex align-items-center justify-content-xl-center justify-content-start">
                                <div class="text-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                                    <img src="assets/images/thumbs/brand-img3.png" alt="Brand Logo 3">
                                </div>
                            </div>
                            <div class="swiper-slide h-100 d-flex align-items-center justify-content-xl-center justify-content-start">
                                <div class="text-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                                    <img src="assets/images/thumbs/brand-img4.png" alt="Brand Logo 4">
                                </div>
                            </div>
                            <div class="swiper-slide h-100 d-flex align-items-center justify-content-xl-center justify-content-start">
                                <div class="text-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                                    <img src="assets/images/thumbs/brand-img5.png" alt="Brand Logo 5">
                                </div>
                            </div>
                            <div class="swiper-slide h-100 d-flex align-items-center justify-content-xl-center justify-content-start">
                                <div class="text-center" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
                                    <img src="assets/images/thumbs/brand-img3.png" alt="Brand Logo 3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================== brand section end ============================== -->