<!-- ========================== brand section start ============================== -->
<div class="brand-one bg-main-two ">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="d-flex align-items-center tw-gap-3 tw-py-2 h-100">
                    <div class="position-relative">
                        <span class="">
                            <img src="assets/images/thumbs/experience-img.png" alt="Experience Image">
                        </span>
                        <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
                            class="play-button tw-text-2xl d-inline-flex position-absolute start-50 top-50 translate-middle z-1 text--white hover-text-main">
                            <i class="fa-duotone fa-solid fa-play"></i>
                        </a>
                    </div>
                    <div class="d-flex align-items-center tw-gap-2">
                        <h2 class="text-white">35</h2>
                        <div class="">
                            <span class="d-block fw-bolder text-uppercase text-white">year of</span>
                            <h3 class="text-capitalize text-white tw-leading-none">Experience</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="">
                    <div class="swiper brand-one-slider tw-py-705">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="text-center">
                                    <img src="assets/images/thumbs/brand-img1.png" alt="Brand Logo 1">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center">
                                    <img src="assets/images/thumbs/brand-img2.png" alt="Brand Logo 2">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center">
                                    <img src="assets/images/thumbs/brand-img3.png" alt="Brand Logo 3">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center">
                                    <img src="assets/images/thumbs/brand-img4.png" alt="Brand Logo 4">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center">
                                    <img src="assets/images/thumbs/brand-img5.png" alt="Brand Logo 5">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="text-center">
                                    <img src="assets/images/thumbs/brand-img3.png" alt="Brand Logo 3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================== brand section end ============================== -->