<!-- ==================== Breadcrumb Start Here ==================== -->
<section class="breadcrumb bg-neutral-900 bg-img background-img"
    data-background-image="assets/images/bg/banner-bg-img.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div>
                    <h1 class="text-center tw-mb-6 text-white text-capitalize"> @@breadcrumbText</h1>
                    <ul class="d-flex align-items-center justify-content-center tw-gap-4">
                        <li>
                            <a href="index.html" class="text-white hover--translate-y-1 hover-underline fw-bold tw-text-xl text-capitalize"> 
                                <i class="las la-home"></i> Home
                            </a>
                        </li>
                        <li>
                            <span class="text-white tw-text-base tw-leading-none d-flex">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                        </li>
                        <li>
                            <span class="text-main fw-bold tw-text-xl text-capitalize"> @@breadcrumbText </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Breadcrumb End Here ==================== -->