<!-- ===================================== Category Start ======================================= -->
<div class="category tw-pb-16 tw-pt-5 overflow-hidden">
    <div class="container">
        <div class="position-relative">
            <div class="swiper category-slider left-right-gradient gradient-width-200 gradient-section-bg">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="group group-item">
                            <div
                                class="tw-w-100-px tw-h-100-px bg-neutral-200 rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/thumbs/category-icon1.png" alt="Category Image 1">
                            </div>
                            <div class="tw-mt-4 text-center">
                                <span class="tw-text-lg font-heading fw-bold d-block text-heading text-uppercase">car
                                    wheels</span>
                                <span
                                    class="tw-text-sm font-heading fw-bold d-block text-heading text-capitalize group-hover-text-main tw-duration-500">20
                                    Items</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group group-item">
                            <div
                                class="tw-w-100-px tw-h-100-px bg-neutral-200 rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/thumbs/category-icon2.png" alt="Category Image 2">
                            </div>
                            <div class="tw-mt-4 text-center">
                                <span
                                    class="tw-text-lg font-heading fw-bold d-block text-heading text-uppercase">accessories</span>
                                <span
                                    class="tw-text-sm font-heading fw-bold d-block text-heading text-capitalize group-hover-text-main tw-duration-500">14
                                    items</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group group-item">
                            <div
                                class="tw-w-100-px tw-h-100-px bg-neutral-200 rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/thumbs/category-icon3.png" alt="Category Image 3">
                            </div>
                            <div class="tw-mt-4 text-center">
                                <span class="tw-text-lg font-heading fw-bold d-block text-heading text-uppercase">Auto
                                    Repair</span>
                                <span
                                    class="tw-text-sm font-heading fw-bold d-block text-heading text-capitalize group-hover-text-main tw-duration-500">14
                                    items</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group group-item">
                            <div
                                class="tw-w-100-px tw-h-100-px bg-neutral-200 rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/thumbs/category-icon4.png" alt="Category Image 4">
                            </div>
                            <div class="tw-mt-4 text-center">
                                <span class="tw-text-lg font-heading fw-bold d-block text-heading text-uppercase">gear
                                    shifter</span>
                                <span
                                    class="tw-text-sm font-heading fw-bold d-block text-heading text-capitalize group-hover-text-main tw-duration-500">10
                                    items</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group group-item">
                            <div
                                class="tw-w-100-px tw-h-100-px bg-neutral-200 rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/thumbs/category-icon5.png" alt="Category Image 5">
                            </div>
                            <div class="tw-mt-4 text-center">
                                <span class="tw-text-lg font-heading fw-bold d-block text-heading text-uppercase">car
                                    tires</span>
                                <span
                                    class="tw-text-sm font-heading fw-bold d-block text-heading text-capitalize group-hover-text-main tw-duration-500">3
                                    items</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group group-item">
                            <div
                                class="tw-w-100-px tw-h-100-px bg-neutral-200 rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/thumbs/category-icon6.png" alt="Category Image 6">
                            </div>
                            <div class="tw-mt-4 text-center">
                                <span
                                    class="tw-text-lg font-heading fw-bold d-block text-heading text-uppercase">Headlight</span>
                                <span
                                    class="tw-text-sm font-heading fw-bold d-block text-heading text-capitalize group-hover-text-main tw-duration-500">10
                                    Items</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group group-item">
                            <div
                                class="tw-w-100-px tw-h-100-px bg-neutral-200 rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/thumbs/category-icon7.png" alt="Category Image 7">
                            </div>
                            <div class="tw-mt-4 text-center">
                                <span class="tw-text-lg font-heading fw-bold d-block text-heading text-uppercase">car
                                    battery</span>
                                <span
                                    class="tw-text-sm font-heading fw-bold d-block text-heading text-capitalize group-hover-text-main tw-duration-500">15
                                    Items</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group group-item">
                            <div
                                class="tw-w-100-px tw-h-100-px bg-neutral-200 rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/thumbs/category-icon8.png" alt="Category Image 8">
                            </div>
                            <div class="tw-mt-4 text-center">
                                <span class="tw-text-lg font-heading fw-bold d-block text-heading text-uppercase">speed
                                    meter</span>
                                <span
                                    class="tw-text-sm font-heading fw-bold d-block text-heading text-capitalize group-hover-text-main tw-duration-500">09
                                    Items</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group group-item">
                            <div
                                class="tw-w-100-px tw-h-100-px bg-neutral-200 rounded-circle d-flex align-items-center justify-content-center mx-auto">
                                <img src="assets/images/thumbs/category-icon5.png" alt="Category Image 5">
                            </div>
                            <div class="tw-mt-4 text-center">
                                <span class="tw-text-lg font-heading fw-bold d-block text-heading text-uppercase">car
                                    tires</span>
                                <span
                                    class="tw-text-sm font-heading fw-bold d-block text-heading text-capitalize group-hover-text-main tw-duration-500">3
                                    items</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <button type="button"
                class="tw-w-10 tw-h-10 bg-white hover-bg-main text-main hover-text-white rounded-circle d-flex justify-content-center align-items-center tw-duration-500 common-shadow tw-text-lg position-absolute top-50 translate-middle-y end-100 z-1 category-slider-button-prev">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <button type="button"
                class="tw-w-10 tw-h-10 bg-white hover-bg-main text-main hover-text-white rounded-circle d-flex justify-content-center align-items-center tw-duration-500 common-shadow tw-text-lg position-absolute top-50 translate-middle-y start-100 z-1 category-slider-button-next">
                <i class="fa-solid fa-angle-right"></i>
            </button>
        </div>
    </div>
</div>
<!-- ===================================== Category End ======================================= -->