<!-- ======================= Choose Us section start ========================= -->
<section class="choose-us-one pt-120 position-relative z-1 overflow-hidden">
    <div class="position-absolute top-0 tw-start-0">
        <img src="assets/images/shapes/wheel-spot-shape-two.png" alt="Wheel Shape Two Img">
    </div>
    <div class="position-absolute top-100 tw-end-0 translate-middle-y z-n1">
        <img src="assets/images/shapes/automobile-img.png" alt="Wheel Shape Two Img" class="item-goes-bottom-on-scroll">
    </div>

    <div class="container">
        <div class="row gy-5">
            <div class="col-xl-8">
                <div class="pe-xl-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="max-w-576-px">
                            <div class="section-heading">
                                <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up"
                                    data-aos-duration="800" data-aos-delay="100">
                                    <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                                    <span class="text-main fw-semibold tw-text-lg text-uppercase">Why choose us</span>
                                </div>
                                <h2 class="splitTextStyleOne">Automobile The Standard Car Service.
                                </h2>
                                <p class="tw-mt-6 text-capitalize max-w-576-px" data-aos="fade-up"
                                    data-aos-duration="800" data-aos-delay="200">mixtures of a metal and other
                                    elents.They generally provide greater
                                    stregth over pure metal, which usually much softer and more ducle. We’re more Repair
                                    many
                                    variations of passages of Lorem.</p>
                            </div>
                        </div>
                        <div class="item-rotate-on-scroll d-sm-block d-none">
                            <div data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="600">
                                <img src="assets/images/shapes/wheel2.png" alt="Wheel Image"
                                    class="animation-rotate-right">
                            </div>
                        </div>
                    </div>
                    <div class="tw-mt-12" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                        <a href="contact.html"
                            class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape tw-tracking-2-percent"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">
                                our service
                                <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i
                                        class="fa-solid fa-plus"></i></span>
                            </span>
                        </a>
                    </div>
                    <div class="tw-mt-14" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500">
                        <div class="hover-animation-white scale-up-wrapper tw-rounded-2xl">
                            <img src="assets/images/thumbs/choose-us-img.png" alt="Service Image 1"
                                class="tw-rounded-2xl object-fit-cover scale-up__img w-100 h-100">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4">
                <div class="d-flex flex-column tw-gap-5">
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="choose-us-item bg-main-two tw-rounded-xl d-flex tw-gap-7 group group-item tw-duration-300 hover-bg-main overflow-hidden">
                            <div
                                class="choose-us-item__icon d-flex align-items-center justify-content-center flex-shrink-0 bg-main tw-duration-300 group-hover-bg-main-two position-relative">
                                <img src="assets/images/icons/choose-us-icon1.png" alt="Choose Us Icon 1">
                            </div>
                            <div class="tw-py-8 tw-pe-6">
                                <h2 class="h5 text-white tw-mb-4">Brake Service</h2>
                                <p class="text-neutral-200 text-capitalize">We're more are many variations of passages of
                                    Lorem</p>
                            </div>
                        </div>
                    </div>
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="choose-us-item bg-main-two tw-rounded-xl d-flex tw-gap-7 group group-item tw-duration-300 hover-bg-main overflow-hidden">
                            <div
                                class="choose-us-item__icon d-flex align-items-center justify-content-center flex-shrink-0 bg-main tw-duration-300 group-hover-bg-main-two position-relative">
                                <img src="assets/images/icons/choose-us-icon2.png" alt="Choose Us Icon 2">
                            </div>
                            <div class="tw-py-8 tw-pe-6">
                                <h2 class="h5 text-white tw-mb-4">Waxing & Polishing</h2>
                                <p class="text-neutral-200 text-capitalize">We're more are many variations of passages of
                                    Lorem</p>
                            </div>
                        </div>
                    </div>
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="choose-us-item bg-main-two tw-rounded-xl d-flex tw-gap-7 group group-item tw-duration-300 hover-bg-main overflow-hidden">
                            <div
                                class="choose-us-item__icon d-flex align-items-center justify-content-center flex-shrink-0 bg-main tw-duration-300 group-hover-bg-main-two position-relative">
                                <img src="assets/images/icons/choose-us-icon3.png" alt="Choose Us Icon 3">
                            </div>
                            <div class="tw-py-8 tw-pe-6">
                                <h2 class="h5 text-white tw-mb-4">Engine Diagnostics</h2>
                                <p class="text-neutral-200 text-capitalize">We're more are many variations of passages of
                                    Lorem</p>
                            </div>
                        </div>
                    </div>
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                        <div class="choose-us-item bg-main-two tw-rounded-xl d-flex tw-gap-7 group group-item tw-duration-300 hover-bg-main overflow-hidden">
                            <div
                                class="choose-us-item__icon d-flex align-items-center justify-content-center flex-shrink-0 bg-main tw-duration-300 group-hover-bg-main-two position-relative">
                                <img src="assets/images/icons/choose-us-icon4.png" alt="Choose Us Icon 4">
                            </div>
                            <div class="tw-py-8 tw-pe-6">
                                <h2 class="h5 text-white tw-mb-4">Battery Service</h2>
                                <p class="text-neutral-200 text-capitalize">We're more are many variations of passages of
                                    Lorem</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Choose Us section end ========================= -->