<!-- ============================ Choose us four section start ========================= -->
<section class="choose-us pt-120 position-relative z-1">
    <div class="position-absolute top-0 start-50 translate-middle-x z-n1 tw-mt-11">
        <h2 class="text-140-px splitTextStyleOne text-neutral-100" data-aos="fade-up">Why Choose Us</h2>
    </div>


    <div class="section-heading tw-mb-11 text-center">
        <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up" data-aos-duration="800"
            data-aos-delay="100">
            <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
            <span class="text-main fw-semibold tw-text-lg text-uppercase">why choose us</span>
            <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
        </div>
        <h2 class="splitTextStyleOne" data-aos="fade-up">Your Vehicle Like New</h2>
    </div>

    <div class="container">
        <div class="row gy-4">
            <div class="col-xxl-4 col-sm-6">
                <div class="d-flex flex-column tw-gap-12 pb-120">
                    <div class="d-flex align-items-center tw-gap-6 justify-content-end choose-us-item flex-xxl-row flex-row-reverse">
                        <div class="text-xxl-end choose-us-item__content">
                            <h2 class="h5 text-capitalize">technology</h2>
                            <p class="tw-mt-4 fw-medium max-w-310-px">We're more are many variations this passages of
                                Lorem</p>
                        </div>
                        <span>
                            <img src="assets/images/icons/choose-us-four-icon1.png" alt="Choose Us Icon 1">
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-6 justify-content-end choose-us-item flex-xxl-row flex-row-reverse">
                        <div class="text-xxl-end choose-us-item__content">
                            <h2 class="h5 text-capitalize">Multiple Options</h2>
                            <p class="tw-mt-4 fw-medium max-w-310-px">We're more are many variations this passages of
                                Lorem</p>
                        </div>
                        <span>
                            <img src="assets/images/icons/choose-us-four-icon2.png" alt="Choose Us Icon 2">
                        </span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-6 justify-content-end choose-us-item flex-xxl-row flex-row-reverse">
                        <div class="text-xxl-end choose-us-item__content">
                            <h2 class="h5 text-capitalize">Car Engine</h2>
                            <p class="tw-mt-4 fw-medium max-w-310-px">We're more are many variations this passages of
                                Lorem</p>
                        </div>
                        <span>
                            <img src="assets/images/icons/choose-us-four-icon3.png" alt="Choose Us Icon 3">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-sm-6 d-xxl-block d-none">
                <div class="text-center">
                    <img src="assets/images/thumbs/choose-us-four-img.png" alt="Choose Us Image">
                </div>
            </div>
            <div class="col-xxl-4 col-sm-6">
                <div class="d-flex flex-column tw-gap-12 pb-120">
                    <div class="d-flex align-items-center tw-gap-6 justify-content-start choose-us-item">
                        <span>
                            <img src="assets/images/icons/choose-us-four-icon1.png" alt="Choose Us Icon 1">
                        </span>
                        <div class="text-start">
                            <h2 class="h5 text-capitalize">technology</h2>
                            <p class="tw-mt-4 fw-medium max-w-310-px">We're more are many variations this passages of
                                Lorem</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-6 justify-content-start choose-us-item">
                        <span>
                            <img src="assets/images/icons/choose-us-four-icon2.png" alt="Choose Us Icon 2">
                        </span>
                        <div class="text-start">
                            <h2 class="h5 text-capitalize">Multiple Options</h2>
                            <p class="tw-mt-4 fw-medium max-w-310-px">We're more are many variations this passages of
                                Lorem</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center tw-gap-6 justify-content-start choose-us-item">
                        <span>
                            <img src="assets/images/icons/choose-us-four-icon3.png" alt="Choose Us Icon 3">
                        </span>
                        <div class="text-start">
                            <h2 class="h5 text-capitalize">Car Engine</h2>
                            <p class="tw-mt-4 fw-medium max-w-310-px">We're more are many variations this passages of
                                Lorem</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Choose us four section end ========================= -->