<!-- =============================== Counter three section start ========================== -->
<section class="counter-three tw-mt-16">
    <div class="container">
        <div class="cols-4">
            <div class="counter-three-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <h2 class="text-white counter">17<span class="text-main">+</span> </h2>
                <h2 class="h5 text-white text-uppercase tw-mt-4">auto repair</h2>
                <p class="text-body-two tw-mt-3 max-w-250-px">car dent repair and cars painting assessing</p>
            </div>
            <div class="counter-three-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <h2 class="text-white counter">10<span class="text-main">K</span> </h2>
                <h2 class="h5 text-white text-uppercase tw-mt-4">give services</h2>
                <p class="text-body-two tw-mt-3 max-w-250-px">Satisfaction means you've had enough — in a good</p>
            </div>
            <div class="counter-three-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                <h2 class="text-white counter">12<span class="text-main">+</span> </h2>
                <h2 class="h5 text-white text-uppercase tw-mt-4">years of experience</h2>
                <p class="text-body-two tw-mt-3 max-w-250-px">refers amount of time someone has worked in specific</p>
            </div>
            <div class="counter-three-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="700">
                <h2 class="text-white counter">35<span class="text-main">K</span> </h2>
                <h2 class="h5 text-white text-uppercase tw-mt-4">our customer</h2>
                <p class="text-body-two tw-mt-3 max-w-250-px">Customer support is the team of people who provide</p>
            </div>
        </div>
    </div>
</section>
<!-- =============================== Counter three section end ========================== -->