<!-- ========================== Counter section start ============================== -->
<section class="counter-section py-110 background-img bg-img" data-background-image="assets/images/bg/counter-bg.png">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="counter-item text-center animation-item h-100">
                    <div class="tw-w-94-px tw-h-94-px mx-auto bg-main-two tw--mb-46-px d-flex justify-content-center align-items-center z-1 position-relative rounded-circle">
                        <span
                            class="bg-main tw-w-78-px tw-h-78-px rounded-circle d-inline-flex justify-content-center align-items-center overflow-hidden">
                            <img src="assets/images/icons/counter-icon1.png" alt="Counter Icon 1" class="animate__heartBeat">
                        </span>
                    </div>
                    <div class="bg-main tw-pb-10 tw-px-1 tw-pt-16">
                        <h2 class="text-white counter">3k+</h2>
                        <span class="text-res-24-px text-white text-capitalize fw-semibold">repair Completed</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="counter-item text-center animation-item h-100">
                    <div class="tw-w-94-px tw-h-94-px mx-auto bg-main-two tw--mb-46-px d-flex justify-content-center align-items-center z-1 position-relative rounded-circle">
                        <span
                            class="bg-main tw-w-78-px tw-h-78-px rounded-circle d-inline-flex justify-content-center align-items-center overflow-hidden">
                            <img src="assets/images/icons/counter-icon2.png" alt="Counter Icon 2" class="animate__heartBeat">
                        </span>
                    </div>
                    <div class="bg-main tw-pb-10 tw-px-1 tw-pt-16">
                        <h2 class="text-white counter">25+</h2>
                        <span class="text-res-24-px text-white text-capitalize fw-semibold">Team Members</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                <div class="counter-item text-center animation-item h-100">
                    <div class="tw-w-94-px tw-h-94-px mx-auto bg-main-two tw--mb-46-px d-flex justify-content-center align-items-center z-1 position-relative rounded-circle">
                        <span
                            class="bg-main tw-w-78-px tw-h-78-px rounded-circle d-inline-flex justify-content-center align-items-center overflow-hidden">
                            <img src="assets/images/icons/counter-icon3.png" alt="Counter Icon 3" class="animate__heartBeat">
                        </span>
                    </div>
                    <div class="bg-main tw-pb-10 tw-px-1 tw-pt-16">
                        <h2 class="text-white counter">2.5k+</h2>
                        <span class="text-res-24-px text-white text-capitalize fw-semibold">Clients Are Happy</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="700">
                <div class="counter-item text-center animation-item h-100">
                    <div class="tw-w-94-px tw-h-94-px mx-auto bg-main-two tw--mb-46-px d-flex justify-content-center align-items-center z-1 position-relative rounded-circle">
                        <span
                            class="bg-main tw-w-78-px tw-h-78-px rounded-circle d-inline-flex justify-content-center align-items-center overflow-hidden">
                            <img src="assets/images/icons/counter-icon4.png" alt="Counter Icon 4" class="animate__heartBeat">
                        </span>
                    </div>
                    <div class="bg-main tw-pb-10 tw-px-1 tw-pt-16">
                        <h2 class="text-white counter">10+</h2>
                        <span class="text-res-24-px text-white text-capitalize fw-semibold">Award Wins</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Counter section end ============================== -->