<!-- ==================== Footer Start Here ==================== -->
<footer class="footer position-relative z-1 mt-auto overflow-hidden">
    <div class="pb-80-px pt-110 @@footerBgClass position-relative z-1">
        <div class="position-absolute tw-start-0 tw-end-0 h-100 w-100 z-n1">
            <img src="assets/images/bg/dotted-glob-bg.png" alt="Dotted Glob">
        </div>

        <div class="container container-two">
            <div class="">
                <div class="row gy-5">
                    <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                        <div class="max-w-370-px">
                            <a href="index.html" class="">
                                <img src="assets/images/logo/logo.png" alt="Logo">
                            </a>
                            <p class="text-dark-light tw-mt-8 fw-medium text-capitalize">In vestibulum quis enim fini acmsan. Vestibum nec gravida enim.</p>
                            <div class="phone-info d-flex align-items-center tw-gap-3 tw-mt-6">
                                <span
                                    class="d-flex tw-w-14 tw-h-14 bg-main rounded-circle justify-content-center align-items-center flex-shrink-0">
                                    <img src="assets/images/icons/phone-icon-white2.png" alt="Phone Icon">
                                </span>
                                <a href="tel:+1558956854"
                                    class="text-white fw-bold hover-underline tw-text-xl text-capitalize">call : +986
                                    985 653</a>
                            </div>
                            <div class="tw-mt-7">
                                <ul class="list-unstyled d-flex align-items-center tw-gap-405">
                                    <li>
                                        <a href="https://www.facebook.com"
                                            class="tw-text-base text-white hover-scale-20 hover-text-main">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com"
                                            class="tw-text-base text-white hover-scale-20 hover-text-main">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com"
                                            class="tw-text-base text-white hover-scale-20 hover-text-main">
                                            <i class="fa-brands fa-youtube"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.vimeo.com"
                                            class="tw-text-base text-white hover-scale-20 hover-text-main">
                                            <i class="fa-brands fa-vimeo-v"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                        <div class="">
                            <h4 class="text-white tw-pb-9 max-w-275-px text-capitalize">Main Menu
                            </h4>
                            <div class="d-flex flex-column tw-gap-5">
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="d-flex text-main tw-text-lg">
                                        <i class="fa-regular fa-angles-right"></i>
                                    </span>
                                    <a href="javascript:void(0)"
                                        class="text-dark-light fw-bold hover-text-white hover-underline text-capitalize">Help
                                        center</a>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="d-flex text-main tw-text-lg">
                                        <i class="fa-regular fa-angles-right"></i>
                                    </span>
                                    <a href="javascript:void(0)"
                                        class="text-dark-light fw-bold hover-text-white hover-underline text-capitalize">About
                                        Us</a>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="d-flex text-main tw-text-lg">
                                        <i class="fa-regular fa-angles-right"></i>
                                    </span>
                                    <a href="javascript:void(0)"
                                        class="text-dark-light fw-bold hover-text-white hover-underline text-capitalize">Plans
                                        Refund
                                        Policy</a>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="d-flex text-main tw-text-lg">
                                        <i class="fa-regular fa-angles-right"></i>
                                    </span>
                                    <a href="javascript:void(0)"
                                        class="text-dark-light fw-bold hover-text-white hover-underline text-capitalize">Testimonials</a>
                                </div>
                                <div class="d-flex align-items-center tw-gap-3">
                                    <span class="d-flex text-main tw-text-lg">
                                        <i class="fa-regular fa-angles-right"></i>
                                    </span>
                                    <a href="javascript:void(0)"
                                        class="text-dark-light fw-bold hover-text-white hover-underline text-capitalize">Pricing</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="">
                            <h4 class="text-white tw-pb-9 max-w-275-px text-capitalize">recent post </h4>
                            <div class="d-flex flex-column tw-gap-4">
                                <div class="d-flex align-items-center tw-gap-4">
                                    <a href="blog-details.html"
                                        class="tw-rounded-lg border border-2 border-main overflow-hidden hover-item-overlay position-relative tw-w-84-px tw-h-84-px flex-shrink-0">
                                        <img src="assets/images/thumbs/gallery-small-img1.png" alt="Gallery Image 1"
                                            class="w-100 h-100 object-fit-cover">
                                    </a>
                                    <div class="">
                                        <span class="text-main text-uppercase tw-text-base fw-semibold tw-mb-1">Aug 9,2026 </span>
                                        <a href="blog-details.html"
                                            class="tw-text-lg fw-bold text-white text-capitalize hover-text-main">General Vehicle shop
                                            Maintenance</a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center tw-gap-4">
                                    <a href="blog-details.html"
                                        class="tw-rounded-lg border border-2 border-main overflow-hidden hover-item-overlay position-relative tw-w-84-px tw-h-84-px flex-shrink-0">
                                        <img src="assets/images/thumbs/gallery-small-img2.png" alt="Gallery Image 1"
                                            class="w-100 h-100 object-fit-cover">
                                    </a>
                                    <div class="">
                                        <span class="text-main text-uppercase tw-text-base fw-semibold tw-mb-1">Aug 9,2026 </span>
                                        <a href="blog-details.html"
                                            class="tw-text-lg fw-bold text-white text-capitalize hover-text-main">Bodywork and Paint Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">
                        <div class="ps-xl-5">
                            <h4 class="text-white tw-pb-9 max-w-275-px text-capitalize">newsletter </h4>
                            <div class="">
                                <h4 class="h3 text-white text-uppercase">get in touch</h4>
                                <form action="#" class="tw-mt-705 position-relative">
                                    <input type="text" class="border-bottom-style bg-transparent border-0 border-bottom border-neutral-600 focus-border-main tw-pb-4 w-100 focus-outline-0 text-white tw-pe-10" placeholder="Enter Your Email">
                                    <button type="submit" class="text-main tw-text-xl position-absolute top-0 end-0 hover-scale-104">
                                        <i class="fa-solid fa-paper-plane-top"></i>
                                    </button>
                                </form>
                                <p class="text-dark-light tw-mt-8 fw-medium text-capitalize">In vestibulum quis enim fini acmsan. Vestibu nec gravida enim.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('../partials/_bottom-footer.html')
</footer>
<!-- ==================== Footer End Here ==================== -->