<!-- ==================== Header Start Here ==================== -->
<header class="header tw-transition-all tw-z-999 mobile-padding-0 bg-main py-lg-0 py-3">
    <div class="container">
        <nav class="d-flex justify-content-between position-relative">

            <!-- Category Dropdown Start -->
            <div class="align-self-end group group-item">
                <button type="button"
                    class="category-button d-flex align-items-center tw-gap-3 text-white bg-main-two tw-px-5 tw-py-405 rounded-top tw-duration-500">
                    <span class="tw-text-xl tw-leading-none"><i class="fa-regular fa-bars"></i></span>
                    <span class="text-uppercase tw-text-lg fw-bold text-white">Top Categories</span>
                    <span class="tw-leading-none icon tw-duration-500"><i class="fa-regular fa-chevron-down"></i></span>
                </button>

                <!-- Dropdown Start -->
                <div
                    class="category-dropdown border border-neutral-200 shadow bg-white tw-p-4 tw-rounded-2xl w-100 max-w-480-px position-absolute top-100 start-0 tw-z-99 tw-duration-500 opacity-0 tw-invisible tw-scale-08 group-hover-item-visible group-hover-item-opacity-1 group-hover-item-scale-1">
                    <div class="d-grid grid-col-3 tw-gap-1 tw-max-h-380-px overflow-y-auto">
                        <a href="product.html"
                            class="tw-py-4 tw-px-2 tw-rounded-lg hover-bg-neutral-100 d-flex flex-column align-items-center text-center border border-transparent hover-border-neutral-400">
                            <span class="">
                                <img src="assets/images/thumbs/category-icon1.png" alt="Category Icon" class="tw-w-12 tw-h-12 object-fit-contain">
                            </span>
                            <span class="fw-semibold text-heading tw-mt-4 tw-text-base">Vegetables</span>
                        </a>
                        <a href="product.html"
                            class="tw-py-4 tw-px-2 tw-rounded-lg hover-bg-neutral-100 d-flex flex-column align-items-center text-center border border-transparent hover-border-neutral-400">
                            <span class="">
                                <img src="assets/images/thumbs/category-icon2.png" alt="Category Icon" class="tw-w-12 tw-h-12 object-fit-contain">
                            </span>
                            <span class="fw-semibold text-heading tw-mt-4 tw-text-base">Milk &amp; Cake</span>
                        </a>
                        <a href="product.html"
                            class="tw-py-4 tw-px-2 tw-rounded-lg hover-bg-neutral-100 d-flex flex-column align-items-center text-center border border-transparent hover-border-neutral-400">
                            <span class="">
                                <img src="assets/images/thumbs/category-icon3.png" alt="Category Icon" class="tw-w-12 tw-h-12 object-fit-contain">
                            </span>
                            <span class="fw-semibold text-heading tw-mt-4 tw-text-base">Grocery</span>
                        </a>
                        <a href="product.html"
                            class="tw-py-4 tw-px-2 tw-rounded-lg hover-bg-neutral-100 d-flex flex-column align-items-center text-center border border-transparent hover-border-neutral-400">
                            <span class="">
                                <img src="assets/images/thumbs/category-icon4.png" alt="Category Icon" class="tw-w-12 tw-h-12 object-fit-contain">
                            </span>
                            <span class="fw-semibold text-heading tw-mt-4 tw-text-base"> Beauty</span>
                        </a>
                        <a href="product.html"
                            class="tw-py-4 tw-px-2 tw-rounded-lg hover-bg-neutral-100 d-flex flex-column align-items-center text-center border border-transparent hover-border-neutral-400">
                            <span class="">
                                <img src="assets/images/thumbs/category-icon5.png" alt="Category Icon" class="tw-w-12 tw-h-12 object-fit-contain">
                            </span>
                            <span class="fw-semibold text-heading tw-mt-4 tw-text-base">Wines &amp; Drinks</span>
                        </a>
                        <a href="product.html"
                            class="tw-py-4 tw-px-2 tw-rounded-lg hover-bg-neutral-100 d-flex flex-column align-items-center text-center border border-transparent hover-border-neutral-400">
                            <span class="">
                                <img src="assets/images/thumbs/category-icon6.png" alt="Category Icon" class="tw-w-12 tw-h-12 object-fit-contain">
                            </span>
                            <span class="fw-semibold text-heading tw-mt-4 tw-text-base">Snacks</span>
                        </a>
                        <a href="product.html"
                            class="tw-py-4 tw-px-2 tw-rounded-lg hover-bg-neutral-100 d-flex flex-column align-items-center text-center border border-transparent hover-border-neutral-400">
                            <span class="">
                                <img src="assets/images/thumbs/category-icon7.png" alt="Category Icon" class="tw-w-12 tw-h-12 object-fit-contain">
                            </span>
                            <span class="fw-semibold text-heading tw-mt-4 tw-text-base">Juice</span>
                        </a>
                        <a href="product.html"
                            class="tw-py-4 tw-px-2 tw-rounded-lg hover-bg-neutral-100 d-flex flex-column align-items-center text-center border border-transparent hover-border-neutral-400">
                            <span class="">
                                <img src="assets/images/thumbs/category-icon8.png" alt="Category Icon" class="tw-w-12 tw-h-12 object-fit-contain">
                            </span>
                            <span class="fw-semibold text-heading tw-mt-4 tw-text-base">Fruits</span>
                        </a>
                        <a href="product.html"
                            class="tw-py-4 tw-px-2 tw-rounded-lg hover-bg-neutral-100 d-flex flex-column align-items-center text-center border border-transparent hover-border-neutral-400">
                            <span class="">
                                <img src="assets/images/thumbs/category-icon2.png" alt="Category Icon" class="tw-w-12 tw-h-12 object-fit-contain">
                            </span>
                            <span class="fw-semibold text-heading tw-mt-4 tw-text-base">Tea &amp; Coffee</span>
                        </a>
                    </div>
                </div>
                <!-- Dropdown End -->
            </div>
            <!-- Category Dropdown End  -->

            <!-- Menu Start  -->
            <div class="header-menu d-lg-block d-none">
                @@include('../partials/_nav-menu.html', { "class" : "tw-gap-6 nav-menu-white hover-nav-menu-black menu-link-py-505" })
            </div>
            <!-- Menu End  -->

            <!-- Header Right start -->
            <div class="d-xl-flex align-items-center tw-gap-3 d-none align-self-center">
                <span class="text-white tw-text-lg fw-semibold text-uppercase">Super Discount</span>
                <span class="text-40-px text-heading tw-leading-none position-relative">
                    <i class="fa-solid fa-certificate"></i>
                    <span
                        class="fw-bold tw-text-xs text-white text-uppercase position-absolute top-50 start-50 translate-middle">go</span>
                </span>
            </div>
            <button type="button" class="toggle-mobileMenu leading-none d-lg-none ms-3 text-white tw-text-3xl">
                <i class="fa-regular fa-bars-staggered"></i>
            </button>
            <!-- Header Right End  -->
        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->