<!-- mega menu start -->
<div
    class="mega-menu tw-p-6 tw-rounded-lg scroll-sm nav-submenu position-absolute tw-start-0 top-100 tw-w-max bg-white tw-rounded-md tw-duration-200 tw-z-99">
    <div class="row g-4 row-cols-1 row-cols-lg-3 row-cols-xl-4">
        <div class="col">
            <div class="mega-menu-item group-item">
                <span
                    class="fw-bold text-uppercase text-heading d-block tw-pb-4 tw-mb-6 border-bottom border-neutral-300 tw-text-2xl font-heading border-bottom-black-main text-heading border-neutral-300">Homes</span>
                <ul class="d-flex flex-column tw-gap-4">
                    <li>
                        <a href="index.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Home One
                        </a>
                    </li>
                    <li>
                        <a href="index-2.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Home Two
                        </a>
                    </li>
                    <li>
                        <a href="index-3.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Home Three
                        </a>
                    </li>
                    <li>
                        <a href="index-4.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Home Four
                        </a>
                    </li>
                    <li>
                        <a href="index-5.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Home Five
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <span
                    class="fw-bold text-uppercase text-heading d-block tw-pb-4 tw-mb-6 border-bottom border-neutral-300 tw-text-2xl font-heading border-bottom-black-main text-heading border-neutral-300">Pages</span>
                <ul class="d-flex flex-column tw-gap-4">
                    <li>
                        <a href="team.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Team
                        </a>
                    </li>
                    <li>
                        <a href="team-details.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Team Details
                        </a>
                    </li>
                    <li>
                        <a href="pricing-plan.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Pricing Plan
                        </a>
                    </li>
                    <li>
                        <a href="not-found.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Not Found
                        </a>
                    </li>
                    <li>
                        <a href="about.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            About Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <span
                    class="fw-bold text-uppercase text-heading d-block tw-pb-4 tw-mb-6 border-bottom border-neutral-300 tw-text-2xl font-heading border-bottom-black-main text-heading border-neutral-300">Service Pages</span>
                <ul class="d-flex flex-column tw-gap-4">
                    <li>
                        <a href="product.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Shop
                        </a>
                    </li>
                    <li>
                        <a href="product-details.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Shop Details
                        </a>
                    </li>
                    <li>
                        <a href="service.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Services
                        </a>
                    </li>
                    <li>
                        <a href="service-details.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Services Details
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="mega-menu-item group-item">
                <span
                    class="fw-bold text-uppercase text-heading d-block tw-pb-4 tw-mb-6 border-bottom border-neutral-300 tw-text-2xl font-heading border-bottom-black-main text-heading border-neutral-300">Blog Pages</span>
                <ul class="d-flex flex-column tw-gap-4">
                    <li>
                        <a href="blog.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Blog Standard
                        </a>
                    </li>
                    <li>
                        <a href="blog-details.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Blog Details
                        </a>
                    </li>
                    <li>
                        <a href="contact.html"
                            class="nav-submenu__link text-heading fw-semibold w-100 text-uppercase d-block tw-py-1 tw-rounded hover-text-main d-flex align-items-center tw-gap-4">
                            <span class="d-flex tw-leading-none">
                                <i class="fa-solid fa-angles-right"></i>
                            </span>
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- mega menu end -->