<!-- =========================== Middle header start =============================== -->
<div class="middle-header tw-z-999 tw-py-10 bg-black">
    <div class="container">
        <div class="d-flex justify-content-between tw-gap-6">
            <!-- Logo Start -->
            <div class="logo">
                <a href="index.html" class="link">
                    <img src="assets/images/logo/logo.png" alt="Logo" class="logo-w-200-px">
                </a>
            </div>
            <!-- Logo End  -->
            <div class="d-flex align-items-center tw-gap-6">
                <form action="#" class="max-w-685-px bg-white tw-rounded tw-h-14 w-100 d-flex tw-gap-5">
                    <input type="text"
                        class="text-heading tw-text-lg form-control border-0 outline-0 focus-outline-0 shadow-none h-100 tw-ps-6 w-100"
                        placeholder="Search Here...">
                    <span class="tw-h-10 tw-w-05 bg-neutral-300 align-self-center"></span>
                    <select
                        class="form-control form-select text-neutral-500 fw-medium tw-text-lg form-control border-0 outline-0 focus-outline-0 shadow-none h-100 max-w-220-px">
                        <option value="all-category" selected disabled>All Category</option>
                        <option value="engine-repair">Engine Repair</option>
                        <option value="oil-change">Oil Change</option>
                        <option value="brake-service">Brake Service</option>
                        <option value="battery-service">Battery Service</option>
                        <option value="ac-service">AC Repair</option>
                    </select>
                    <button type="submit"
                        class="btn btn-main hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 tw-rounded group active--translate-y-2 text-uppercase fw-bolder tw-tracking-2-percent tw-px-705"
                        data-block="button">
                        <span class="button__flair"></span>
                        <span class="button__label">
                            <i class="fa-regular fa-magnifying-glass"></i>
                        </span>
                    </button>
                </form>
                <div class="d-flex align-items-center tw-gap-5">
                    <div class="position-relative d-xxl-flex d-none align-items-center justify-content-center">
                        <span class="tw-w-05 tw-h-8 bg-main"></span>
                        <span
                            class="tw-w-2 tw-h-2 bg-main rounded-circle position-absolute top-50 start-50 translate-middle"></span>
                    </div>
                    <div class="d-flex align-items-center tw-gap-505">
                        <button type="button" class="text--white tw-duration-300 tw-text-xl hover-text-main">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                        <button type="button"
                            class="text--white tw-duration-300 tw-text-xl hover-text-main position-relative tw-me-1">
                            <i class="fa-regular fa-basket-shopping"></i>
                            <div class="position-absolute start-100 top-0">
                                <span
                                    class="tw-w-4 tw-h-4 bg-main text-white tw-text-sm fw-medium rounded-circle d-flex justify-content-center align-items-center">0</span>
                            </div>
                        </button>
                        <button type="button" class="text--white tw-duration-300 tw-text-xl hover-text-main">
                            <i class="fa-regular fa-user"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================== Middle header end =============================== -->