<!-- ======================= Offer section start =========================== -->
<div class="offter" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
    <div class="container">
        <div class="bg-img background-img" data-background-image="assets/images/bg/offer-bg-img.png">
            <div class="d-flex align-items-center justify-content-between tw-gap-4">
                <div class="d-flex align-items-center tw-gap-4">
                    <div class="tw-ps-8 d-lg-block d-none">
                        <img src="assets/images/thumbs/offer-img1.png" alt="images">
                    </div>
                    <div class="d-flex align-items-center tw-gap-56-px flex-wrap tw-py-5 tw-px-5">
                        <div>
                            <h3 class="text-36-px text-neutral-900 tw-mb-3 d-block fw-bold text-uppercase">
                                Hybird solutions
                            </h3>
                            <span class="fw-medium tw-text-base text-body text-capitalize">
                                provide greater stregth overpure
                            </span>
                        </div>
                        <div
                            class="tw-w-100-px tw-h-100-px bg-danger-600 rounded-circle text-center d-sm-flex d-none justify-content-center align-items-center">
                            <div>
                                <h3 class="text-30-px text-white fw-bold d-block tw-mb-2">
                                    20%
                                </h3>
                                <span class="fw-bold text-white tw-tetxt-base">
                                    offer
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tw-ps-8 d-xl-block d-none">
                    <img src="assets/images/thumbs/offer-img2.png" alt="images">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======================= Offer section end =========================== -->