<ul class="list-unstyled vs-pagination mt-res-60-px d-flex tw-gap-3 flex-wrap">
    <li class="">
        <a href="javascript:void(0)"
            class="tw-h-12 tw-w-13 bg-neutral-200 hover-bg-main hover-text-white tw-duration-300 text-heading tw-text-xl d-flex justify-content-center align-items-center tw-rounded-md fw-bold">
            <i class="fa-solid fa-angles-left"></i>
        </a>
    </li>
    <li class="">
        <a href="javascript:void(0)"
            class="tw-h-12 tw-w-13 bg-neutral-200 hover-bg-main hover-text-white tw-duration-300 text-heading tw-text-xl d-flex justify-content-center align-items-center tw-rounded-md fw-bold">
            01
        </a>
    </li>
    <li class="">
        <a href="javascript:void(0)"
            class="tw-h-12 tw-w-13 bg-neutral-200 hover-bg-main hover-text-white tw-duration-300 text-heading tw-text-xl d-flex justify-content-center align-items-center tw-rounded-md fw-bold">
            02
        </a>
    </li>
    <li class="">
        <a href="javascript:void(0)"
            class="tw-h-12 tw-w-13 bg-neutral-200 hover-bg-main hover-text-white tw-duration-300 text-heading tw-text-xl d-flex justify-content-center align-items-center tw-rounded-md fw-bold">
            03
        </a>
    </li>
    <li class="">
        <a href="javascript:void(0)"
            class="tw-h-12 tw-w-13 bg-neutral-200 hover-bg-main hover-text-white tw-duration-300 text-heading tw-text-xl d-flex justify-content-center align-items-center tw-rounded-md fw-bold">
            <i class="fa-solid fa-angles-right"></i>
        </a>
    </li>
</ul>