<!-- ============================== Pricing plan two section start ===========================  -->
<section class="pricing py-110 section-bg position-relative overflow-hidden z-1">
    <div class="arrow-curve-shape position-absolute top-0 tw-end-0 z-n1 d-lg-block d-none">
        <img src="assets/images/shapes/arrow-curve-shape.png" alt="shape" class="animated-upDown">
    </div>
    <div class="rounded-glob-shape position-absolute bottom-0 tw-start-0 z-n1">
        <img src="assets/images/shapes/rounded-glob-shape.png" alt="shape" class="animation-rotate-right">
    </div>
    
    <div class="container">
         <div class="section-heading tw-mb-11 text-center">
            <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                <span class="text-main fw-semibold tw-text-lg text-uppercase">our pricing</span>
                <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
            </div>
            <h2 class="">Choose Your Subscription Plan</h2>
        </div>
        
        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="pricing-item">
                    <div class="tw-py-11 tw-px-32-px bg-white tw-rounded-30-px common-shadow-four">
                        <div class="d-flex align-items-center tw-gap-2 justify-content-between">
                            <div class="">
                                <span class="tw-text-lg fw-bold text-heading text-capitalize">Standard</span>
                                <h2 class="">12.99</h2>
                            </div>
                            <span
                                class="d-flex justify-content-center align-items-center bg-main rounded-circle tw-w-72-px tw-h-72-px">
                                <img src="assets/images/icons/pricing-icon1.png" alt="Pricing Icon 1">
                            </span>
                        </div>
                        <div class="tw-py-10 d-flex">
                            <span class="border tw-border-dashed border-neutral-300 w-100"></span>
                        </div>
                        <ul class="list-unstyled d-flex flex-column tw-gap-4">
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Break Repair & Service</p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Certified Expert Mechanics variation </p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Denting & Painting</p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-neutral-300">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">more are many variation </p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-neutral-300">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Awarded Workshop</p>
                            </li>
                        </ul>
                        <div class="tw-mt-10">
                            <a href="contact.html"
                                class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder tw-tracking-2-percent w-100 rounded-pill"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">
                                    Subscribe now
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="pricing-item">
                    <div class="tw-py-11 tw-px-32-px bg-white tw-rounded-30-px common-shadow-four">
                        <div class="d-flex align-items-center tw-gap-2 justify-content-between">
                            <div class="">
                                <span class="tw-text-lg fw-bold text-heading text-capitalize">business</span>
                                <h2 class="">34.99</h2>
                            </div>
                            <span
                                class="d-flex justify-content-center align-items-center bg-main rounded-circle tw-w-72-px tw-h-72-px">
                                <img src="assets/images/icons/pricing-icon1.png" alt="Pricing Icon 1">
                            </span>
                        </div>
                        <div class="tw-py-10 d-flex">
                            <span class="border tw-border-dashed border-neutral-300 w-100"></span>
                        </div>
                        <ul class="list-unstyled d-flex flex-column tw-gap-4">
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Break Repair & Service</p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Certified Expert Mechanics variation </p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Denting & Painting</p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">more are many variation </p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-neutral-300">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Awarded Workshop</p>
                            </li>
                        </ul>
                        <div class="tw-mt-10">
                            <a href="contact.html"
                                class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder tw-tracking-2-percent w-100 rounded-pill"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">
                                    Subscribe now
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                <div class="pricing-item">
                    <div class="tw-py-11 tw-px-32-px bg-white tw-rounded-30-px common-shadow-four">
                        <div class="d-flex align-items-center tw-gap-2 justify-content-between">
                            <div class="">
                                <span class="tw-text-lg fw-bold text-heading text-capitalize">Premium</span>
                                <h2 class="">59.99</h2>
                            </div>
                            <span
                                class="d-flex justify-content-center align-items-center bg-main rounded-circle tw-w-72-px tw-h-72-px">
                                <img src="assets/images/icons/pricing-icon3.png" alt="Pricing Icon 3">
                            </span>
                        </div>
                        <div class="tw-py-10 d-flex">
                            <span class="border tw-border-dashed border-neutral-300 w-100"></span>
                        </div>
                        <ul class="list-unstyled d-flex flex-column tw-gap-4">
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Break Repair & Service</p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Certified Expert Mechanics variation </p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Denting & Painting</p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">more are many variation </p>
                            </li>
                            <li class="d-flex align-items-center tw-gap-3">
                                <span class="d-flex text-main">
                                    <i class="fa-solid fa-badge-check"></i>
                                </span>
                                <p class="fw-bold text-capitalize">Awarded Workshop</p>
                            </li>
                        </ul>
                        <div class="tw-mt-10">
                            <a href="contact.html"
                                class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder tw-tracking-2-percent w-100 rounded-pill"
                                data-block="button">
                                <span class="button__flair"></span>
                                <span class="button__label">
                                    Subscribe now
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================== Pricing plan two section end ===========================  -->