<!-- ========================== Promo Banner section start ====================================== -->
<section class="promo-banner overflow-hidden pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 px-0" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="tw-px-40-px tw-py-14 bg-img background-img overflow-hidden z-1"
                    data-background-image="assets/images/bg/promo-banner-bg1.png">
                    <span class="h5 text-white fw-bolder text-uppercase tw-mb-205">15% discount</span>
                    <h2 class="text-36-px tw-mb-6 text-uppercase text-white splitTextStyleOne max-w-250-px">upgrade tire
                        models</h2>
                    <div class="countdown" id="countdown1">
                        <ul class="countdown-list d-flex align-items-center tw-gap-1 flex-wrap">
                            <li
                                class="countdown-list__item tw-py-105 tw-px-305 text-heading flex-align tw-gap-1 tw-text-base fw-bold common-shadow tw-rounded-lg bg-yellow-deep">
                                <span class="days"></span>
                            </li>
                            <span class="text-white tw-text-xl tw-leading-none">:</span>
                            <li
                                class="countdown-list__item tw-py-105 tw-px-305 text-heading flex-align tw-gap-1 tw-text-base fw-bold common-shadow tw-rounded-lg bg-yellow-deep">
                                <span class="hours"></span>
                            </li>
                            <span class="text-white tw-text-xl tw-leading-none">:</span>
                            <li
                                class="countdown-list__item tw-py-105 tw-px-305 text-heading flex-align tw-gap-1 tw-text-base fw-bold common-shadow tw-rounded-lg bg-yellow-deep">
                                <span class="minutes"></span>
                            </li>
                            <span class="text-white tw-text-xl tw-leading-none">:</span>
                            <li
                                class="countdown-list__item tw-py-105 tw-px-305 text-heading flex-align tw-gap-1 tw-text-base fw-bold common-shadow tw-rounded-lg bg-yellow-deep">
                                <span class="seconds"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="tw-mt-9">
                        <a href="product.html"
                            class="btn btn-white hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group tw-px-6 tw-py-4 active--translate-y-2 text-uppercase fw-bolder tw-tracking-2-percent hover-text-white group"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">
                                car tires
                                <span
                                    class="tw-ps-2 tw-text-lg tw-leading-none d-sm-inline-flex d-none text-main group-hover-text-white tw-duration-300">
                                    <i class="fa-solid fa-arrow-right-long"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 px-0" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="tw-px-40-px tw-py-14 bg-img background-img overflow-hidden z-1"
                    data-background-image="assets/images/bg/promo-banner-bg2.png">
                    <span class="h5 text-main fw-bolder text-uppercase tw-mb-205">15% discount</span>
                    <h2 class="text-36-px tw-mb-6 text-uppercase text-white splitTextStyleOne max-w-250-px">upgrade tire
                        models</h2>
                    <div class="countdown" id="countdown2">
                        <ul class="countdown-list d-flex align-items-center tw-gap-1 flex-wrap">
                            <li
                                class="countdown-list__item tw-py-105 tw-px-305 text-heading flex-align tw-gap-1 tw-text-base fw-bold common-shadow tw-rounded-lg bg-yellow-deep">
                                <span class="days"></span>
                            </li>
                            <span class="text-white tw-text-xl tw-leading-none">:</span>
                            <li
                                class="countdown-list__item tw-py-105 tw-px-305 text-heading flex-align tw-gap-1 tw-text-base fw-bold common-shadow tw-rounded-lg bg-yellow-deep">
                                <span class="hours"></span>
                            </li>
                            <span class="text-white tw-text-xl tw-leading-none">:</span>
                            <li
                                class="countdown-list__item tw-py-105 tw-px-305 text-heading flex-align tw-gap-1 tw-text-base fw-bold common-shadow tw-rounded-lg bg-yellow-deep">
                                <span class="minutes"></span>
                            </li>
                            <span class="text-white tw-text-xl tw-leading-none">:</span>
                            <li
                                class="countdown-list__item tw-py-105 tw-px-305 text-heading flex-align tw-gap-1 tw-text-base fw-bold common-shadow tw-rounded-lg bg-yellow-deep">
                                <span class="seconds"></span>
                            </li>
                        </ul>
                    </div>
                    <div class="tw-mt-9">
                        <a href="product.html"
                            class="btn btn-white hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group tw-px-6 tw-py-4 active--translate-y-2 text-uppercase fw-bolder tw-tracking-2-percent hover-text-white group"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">
                                car tires
                                <span
                                    class="tw-ps-2 tw-text-lg tw-leading-none d-sm-inline-flex d-none text-main group-hover-text-white tw-duration-300">
                                    <i class="fa-solid fa-arrow-right-long"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Promo Banner section end ====================================== -->