<!-- ===================== Service Two section start ========================= -->
<section class="service-two py-120 position-relative z-1 section-bg overflow-hidden">
    <div class="position-absolute tw-start-0 bottom-0 z-n1 tw--ms-140-px left-to-right">
        <img src="assets/images/shapes/jeep-car.png" alt="jeep card">
    </div>
    <div class="container">
        <div class="section-heading tw-mb-11 text-center max-w-576-px mx-auto">
            <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                <span class="text-main fw-semibold tw-text-lg text-uppercase">our Auto service</span>
                <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
            </div>
            <h2 class="splitTextStyleOne" data-aos="fade-up">Highly Trained and Highly Experienced</h2>
        </div>

        <div class="row gy-4">
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="service-two-item group group-item social-icon-hover common-shadow-four bg-white h-100 hover-border-top-bottom tw-duration-500 position-relative overflow-hidden animation-item">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative overflow-hidden z-1">
                        <a href="service-details.html" class="w-100 h-100 d-block">
                            <img src="assets/images/thumbs/service-two-img1.png"
                                class="object-fit-cover scale-up__img w-100 h-100" alt="service-two Image 1">
                        </a>
                    </div>
                    <div class="tw-p-705 tw-pb-16 d-flex tw-gap-30-px">
                        <div class="">
                            <h2 class="text-vertical-style text-uppercase fw-bolder text-36-px text-stroke">service - 01</h2>
                        </div>
                        <div class="">
                            <span class="d-inline-block tw-mb-6">
                                <img src="assets/images/icons/service-two-icon1.png" alt="Service Two Icon 1" class="animate__wobble">
                            </span>
                            <h2 class="h5">
                                <a href="service-details.html" class="hover-text-main">Quality Materials</a>
                            </h2>
                            <p class="d-block text-neutral-500 fw-medium tw-mt-6 tw-mb-4">We're more are many variation mobile passages of Lorem.</p>
                        </div>
                        <a href="service-details.html" class="tw-w-15 tw-h-13 tw-text-2xl text-white bg-main-two group-hover-bg-main tw-duration-300 d-flex align-items-center justify-content-center position-absolute tw-end-0 bottom-0">
                            <i class="fa-light fa-arrow-right-long"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="service-two-item group group-item social-icon-hover common-shadow-four bg-white h-100 hover-border-top-bottom tw-duration-500 position-relative overflow-hidden animation-item">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative overflow-hidden z-1">
                        <a href="service-details.html" class="w-100 h-100 d-block">
                            <img src="assets/images/thumbs/service-two-img2.png"
                                class="object-fit-cover scale-up__img w-100 h-100" alt="service-two Image 2">
                        </a>
                    </div>
                    <div class="tw-p-705 tw-pb-16 d-flex tw-gap-30-px">
                        <div class="">
                            <h2 class="text-vertical-style text-uppercase fw-bolder text-36-px text-stroke">service - 02</h2>
                        </div>
                        <div class="">
                            <span class="d-inline-block tw-mb-6">
                                <img src="assets/images/icons/service-two-icon2.png" alt="Service Two Icon 2" class="animate__wobble">
                            </span>
                            <h2 class="h5">
                                <a href="service-details.html" class="hover-text-main">Repair Automotive</a>
                            </h2>
                            <p class="d-block text-neutral-500 fw-medium tw-mt-6 tw-mb-4">We're more are many variation mobile passages of Lorem.</p>
                        </div>
                        <a href="service-details.html" class="tw-w-15 tw-h-13 tw-text-2xl text-white bg-main-two group-hover-bg-main tw-duration-300 d-flex align-items-center justify-content-center position-absolute tw-end-0 bottom-0">
                            <i class="fa-light fa-arrow-right-long"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                <div class="service-two-item group group-item social-icon-hover common-shadow-four bg-white h-100 hover-border-top-bottom tw-duration-500 position-relative overflow-hidden animation-item">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative overflow-hidden z-1">
                        <a href="service-details.html" class="w-100 h-100 d-block">
                            <img src="assets/images/thumbs/service-two-img3.png"
                                class="object-fit-cover scale-up__img w-100 h-100" alt="service-two Image 3">
                        </a>
                    </div>
                    <div class="tw-p-705 tw-pb-16 d-flex tw-gap-30-px">
                        <div class="">
                            <h2 class="text-vertical-style text-uppercase fw-bolder text-36-px text-stroke">service - 03</h2>
                        </div>
                        <div class="">
                            <span class="d-inline-block tw-mb-6">
                                <img src="assets/images/icons/service-two-icon3.png" alt="Service Two Icon 3" class="animate__wobble">
                            </span>
                            <h2 class="h5">
                                <a href="service-details.html" class="hover-text-main">Brake repairing</a>
                            </h2>
                            <p class="d-block text-neutral-500 fw-medium tw-mt-6 tw-mb-4">We're more are many variation mobile passages of Lorem.</p>
                        </div>
                        <a href="service-details.html" class="tw-w-15 tw-h-13 tw-text-2xl text-white bg-main-two group-hover-bg-main tw-duration-300 d-flex align-items-center justify-content-center position-absolute tw-end-0 bottom-0">
                            <i class="fa-light fa-arrow-right-long"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================== Service Two section end ========================= -->