<!-- =========================== Service three section start ============================ -->
<section class="service-three py-120 overflow-hidden">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between tw-gap-6 tw-mb-13 flex-wrap">
            <div class="section-heading max-w-645-px">
                <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="100">
                    <span class="text-main fw-semibold tw-text-lg text-uppercase">Our service</span>
                    <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
                </div>
                <h2 class="splitTextStyleOne text-white" data-aos="fade-up">Trusted Partner & Reliable Auto Repair</h2>
            </div>
            <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <a href="about.html"
                    class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group active--translate-y-2 text-uppercase fw-bolder button-shape shape-bg-black tw-tracking-2-percent"
                    data-block="button">
                    <span class="button__flair"></span>
                    <span class="button__label">
                        More About
                        <span class="tw-ps-2 tw-text-sm d-sm-inline-flex d-none"><i class="fa-solid fa-plus"></i></span>
                    </span>
                </a>
            </div>
        </div>

        <div class="swiper service-three-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <div class="service-three-item bg-dark-light tw-p-5 group group-item animation-item">
                            <div
                                class="d-block hover-animation-white scale-up-wrapper position-relative overflow-hidden z-1">
                                <a href="service-details.html" class="w-100 h-100 d-block">
                                    <img src="assets/images/thumbs/service-three-img1.png"
                                        class="object-fit-cover scale-up__img w-100 h-100" alt="service-two Image 1">
                                </a>
                            </div>
                            <div class="tw-pt-705 position-relative">
                                <span
                                    class="bg-main border border-4 border-white tw-w-78-px tw-h-72-px d-flex justify-content-center align-items-center service-three-icon">
                                    <img src="assets/images/icons/service-three-icon1.png" alt="Service Icon 1"
                                        class="animate__heartBeat">
                                </span>
                                <h2 class="h4 text-white text-capitalize tw-mt-4">Headlight Changing</h2>
                                <p class="text-body-two tw-mt-3">Professional car dent repair and cars painting
                                    assessing the
                                    damage and selecting the right method to restore.</p>
                                <div class="tw-mt-8">
                                    <a href="service-details.html"
                                        class="tw-text-lg text-white bg-main-two font-heading fw-bold text-capitalize tw-py-305 tw-px-6 w-100 tw-duration-500 group-hover-bg-main position-relative">
                                        Read More
                                        <span
                                            class="bg-main text-white tw-text-lg h-100 position-absolute end-0 top-50 translate-middle-y d-flex justify-content-center align-items-center tw-w-110-px btn-shape group-hover-bg-main-two tw-duration-500">
                                            <i class="fa-regular fa-arrow-right-long tw-ms-405"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="service-three-item bg-dark-light tw-p-5 group group-item animation-item">
                            <div
                                class="d-block hover-animation-white scale-up-wrapper position-relative overflow-hidden z-1">
                                <a href="service-details.html" class="w-100 h-100 d-block">
                                    <img src="assets/images/thumbs/service-three-img2.png"
                                        class="object-fit-cover scale-up__img w-100 h-100" alt="service-two Image 2">
                                </a>
                            </div>
                            <div class="tw-pt-705 position-relative">
                                <span
                                    class="bg-main border border-4 border-white tw-w-78-px tw-h-72-px d-flex justify-content-center align-items-center service-three-icon">
                                    <img src="assets/images/icons/service-three-icon2.png" alt="Service Icon 2"
                                        class="animate__heartBeat">
                                </span>
                                <h2 class="h4 text-white text-capitalize tw-mt-4">Car Denting Repair</h2>
                                <p class="text-body-two tw-mt-3">Professional car dent repair and cars painting
                                    assessing the
                                    damage and selecting the right method to restore.</p>
                                <div class="tw-mt-8">
                                    <a href="service-details.html"
                                        class="tw-text-lg text-white bg-main-two font-heading fw-bold text-capitalize tw-py-305 tw-px-6 w-100 tw-duration-500 group-hover-bg-main position-relative">
                                        Read More
                                        <span
                                            class="bg-main text-white tw-text-lg h-100 position-absolute end-0 top-50 translate-middle-y d-flex justify-content-center align-items-center tw-w-110-px btn-shape group-hover-bg-main-two tw-duration-500">
                                            <i class="fa-regular fa-arrow-right-long tw-ms-405"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <div class="service-three-item bg-dark-light tw-p-5 group group-item animation-item">
                            <div
                                class="d-block hover-animation-white scale-up-wrapper position-relative overflow-hidden z-1">
                                <a href="service-details.html" class="w-100 h-100 d-block">
                                    <img src="assets/images/thumbs/service-three-img3.png"
                                        class="object-fit-cover scale-up__img w-100 h-100" alt="service-two Image 3">
                                </a>
                            </div>
                            <div class="tw-pt-705 position-relative">
                                <span
                                    class="bg-main border border-4 border-white tw-w-78-px tw-h-72-px d-flex justify-content-center align-items-center service-three-icon">
                                    <img src="assets/images/icons/service-three-icon3.png" alt="Service Icon 3"
                                        class="animate__heartBeat">
                                </span>
                                <h2 class="h4 text-white text-capitalize tw-mt-4">Engine Repair</h2>
                                <p class="text-body-two tw-mt-3">Professional car dent repair and cars painting
                                    assessing the
                                    damage and selecting the right method to restore.</p>
                                <div class="tw-mt-8">
                                    <a href="service-details.html"
                                        class="tw-text-lg text-white bg-main-two font-heading fw-bold text-capitalize tw-py-305 tw-px-6 w-100 tw-duration-500 group-hover-bg-main position-relative">
                                        Read More
                                        <span
                                            class="bg-main text-white tw-text-lg h-100 position-absolute end-0 top-50 translate-middle-y d-flex justify-content-center align-items-center tw-w-110-px btn-shape group-hover-bg-main-two tw-duration-500">
                                            <i class="fa-regular fa-arrow-right-long tw-ms-405"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                        <div class="service-three-item bg-dark-light tw-p-5 group group-item animation-item">
                            <div
                                class="d-block hover-animation-white scale-up-wrapper position-relative overflow-hidden z-1">
                                <a href="service-details.html" class="w-100 h-100 d-block">
                                    <img src="assets/images/thumbs/service-three-img2.png"
                                        class="object-fit-cover scale-up__img w-100 h-100" alt="service-two Image 2">
                                </a>
                            </div>
                            <div class="tw-pt-705 position-relative">
                                <span
                                    class="bg-main border border-4 border-white tw-w-78-px tw-h-72-px d-flex justify-content-center align-items-center service-three-icon">
                                    <img src="assets/images/icons/service-three-icon2.png" alt="Service Icon 2"
                                        class="animate__heartBeat">
                                </span>
                                <h2 class="h4 text-white text-capitalize tw-mt-4">Car Denting Repair</h2>
                                <p class="text-body-two tw-mt-3">Professional car dent repair and cars painting
                                    assessing the
                                    damage and selecting the right method to restore.</p>
                                <div class="tw-mt-8">
                                    <a href="service-details.html"
                                        class="tw-text-lg text-white bg-main-two font-heading fw-bold text-capitalize tw-py-305 tw-px-6 w-100 tw-duration-500 group-hover-bg-main position-relative">
                                        Read More
                                        <span
                                            class="bg-main text-white tw-text-lg h-100 position-absolute end-0 top-50 translate-middle-y d-flex justify-content-center align-items-center tw-w-110-px btn-shape group-hover-bg-main-two tw-duration-500">
                                            <i class="fa-regular fa-arrow-right-long tw-ms-405"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center tw-mt-13">
                <div class="service-three-slider-pagination style-dark"></div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Service three section end ============================ -->