<!-- ===================== Team section start ========================= -->
<section class="team py-120 position-relative z-1">
    <div class="position-absolute tw-start-0 bottom-0 z-n1">
        <img src="assets/images/shapes/team-shape.png" alt="Team BG">
    </div>

    <div class="container">
        <div class="section-heading tw-mb-11 text-center">
            <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up" data-aos-duration="800"
                data-aos-delay="100">
                <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                <span class="text-main fw-semibold tw-text-lg text-uppercase">Our Staff Members</span>
                <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
            </div>
            <h2 class="splitTextStyleOne" data-aos="fade-up">Well Trained Members</h2>
        </div>

        <div class="row gy-4">
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="team-item group group-item social-icon-hover">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative overflow-hidden z-1 hover-bg-main-light tw-h-290-px">
                        <a href="team-details.html" class="w-100 h-100 d-block">
                            <img src="assets/images/thumbs/team-img1.png"
                                class="object-fit-cover scale-up__img w-100 h-100" alt="Team Image 1">
                        </a>
                        <ul class="d-flex flex-column tw-gap-205 position-absolute bottom-0 tw-end-0 tw-mb-6 tw-me-8 z-2">
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                        </ul>
                        <button type="button"
                            class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300 social-plus-btn position-absolute bottom-0 tw-end-0 tw-mb-6 tw-me-8 z-2">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="tw-mt-2 bg-main-two tw-duration-300 tw-p-6 group-hover-bg-main">
                        <h2 class="h5">
                            <a href="team-details.html" class="text--white hover-underline hover-text-white">Maximus
                                Karlos</a>
                        </h2>
                        <span class="d-block text-neutral-200 tw-mt-2">Engine Specialist</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="team-item group group-item social-icon-hover">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative overflow-hidden z-1 hover-bg-main-light tw-h-290-px">
                        <a href="team-details.html" class="w-100 h-100 d-block">
                            <img src="assets/images/thumbs/team-img2.png"
                                class="object-fit-cover scale-up__img w-100 h-100" alt="Team Image 2">
                        </a>
                        <ul class="d-flex flex-column tw-gap-205 position-absolute bottom-0 tw-end-0 tw-mb-6 tw-me-8 z-2">
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                        </ul>
                        <button type="button"
                            class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300 social-plus-btn position-absolute bottom-0 tw-end-0 tw-mb-6 tw-me-8 z-2">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="tw-mt-2 bg-main-two tw-duration-300 tw-p-6 group-hover-bg-main">
                        <h2 class="h5">
                            <a href="team-details.html" class="text--white hover-underline hover-text-white">Amelia
                                Clover</a>
                        </h2>
                        <span class="d-block text-neutral-200 tw-mt-2">Head Mechanic</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="team-item group group-item social-icon-hover">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative overflow-hidden z-1 hover-bg-main-light tw-h-290-px">
                        <a href="team-details.html" class="w-100 h-100 d-block">
                            <img src="assets/images/thumbs/team-img3.png"
                                class="object-fit-cover scale-up__img w-100 h-100" alt="Team Image 3">
                        </a>
                        <ul class="d-flex flex-column tw-gap-205 position-absolute bottom-0 tw-end-0 tw-mb-6 tw-me-8 z-2">
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                        </ul>
                        <button type="button"
                            class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300 social-plus-btn position-absolute bottom-0 tw-end-0 tw-mb-6 tw-me-8 z-2">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="tw-mt-2 bg-main-two tw-duration-300 tw-p-6 group-hover-bg-main">
                        <h2 class="h5">
                            <a href="team-details.html" class="text--white hover-underline hover-text-white">Kristin
                                Watson</a>
                        </h2>
                        <span class="d-block text-neutral-200 tw-mt-2">CEO</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <div class="team-item group group-item social-icon-hover">
                    <div
                        class="d-block hover-animation-white scale-up-wrapper position-relative overflow-hidden z-1 hover-bg-main-light tw-h-290-px">
                        <a href="team-details.html" class="w-100 h-100 d-block">
                            <img src="assets/images/thumbs/team-img4.png"
                                class="object-fit-cover scale-up__img w-100 h-100" alt="Team Image 4">
                        </a>
                        <ul class="d-flex flex-column tw-gap-205 position-absolute bottom-0 tw-end-0 tw-mb-6 tw-me-8 z-2">
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="social-icon-item tw-duration-300">
                                <a href="https://www.facebook.com"
                                    class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                        </ul>
                        <button type="button"
                            class="tw-w-10 tw-h-10 bg-white text-heading tw-text-lg d-flex justify-content-center align-items-center rounded-circle hover-text-main tw-duration-300 social-plus-btn position-absolute bottom-0 tw-end-0 tw-mb-6 tw-me-8 z-2">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="tw-mt-2 bg-main-two tw-duration-300 tw-p-6 group-hover-bg-main">
                        <h2 class="h5">
                            <a href="team-details.html" class="text--white hover-underline hover-text-white">Eade
                                Marren</a>
                        </h2>
                        <span class="d-block text-neutral-200 tw-mt-2">Specialist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================== Team section end ========================= -->