<!-- ===================== Testimonials Four section start ========================= -->
<section class="testi-four bg-main-two py-120 position-relative z-1">
    <div class="testi-four__thumb w-40-percent position-absolute tw-start-0 top-0 h-100 d-lg-block d-none">
        <div class="hover-animation-white scale-up-wrapper position-relative overflow-hidden h-100">
            <img src="assets/images/thumbs/testi-four-img.png" class="object-fit-cover scale-up__img h-100 w-100 object-fit-cover"
                alt="Agency Video Image">
        </div>
        <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
            class="tw-w-110-px tw-h-110-px d-inline-flex justify-content-center align-items-center bg-white text-main hover-text-white hover-bg-main rounded-circle tw-text-3xl position-absolute start-50 translate-middle top-50 z-1 play-button">
            <i class="fa-duotone fa-solid fa-play"></i>
        </a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-5 d-lg-block d-none"></div>
            <div class="col-lg-7">
                <div class="">
                    <div class="section-heading tw-mb-14">
                        <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up"
                            data-aos-duration="800" data-aos-delay="100">
                            <span class="text-white fw-semibold tw-text-lg text-uppercase">Testimonial</span>
                            <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
                        </div>
                        <h2 class="text-white max-w-480-px">Customer <span
                                class="text-main">Feedback</span> For Clients</h2>
                    </div>

                    <div class="swiper testimonials-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="d-flex align-items-start tw-gap-30-px flex-sm-row flex-column">
                                    <div class="position-relative animate-left-right animation-delay-08">
                                        <span class="tw-w-145-px tw-h-145-px rounded-circle overflow-hidden">
                                            <img src="assets/images/thumbs/testi-four-user-img.png"
                                                alt="Testimonials User Image">
                                        </span>
                                        <span
                                            class="tw-w-15 tw-h-15 bg-main rounded-circle border border-white d-flex justify-content-center align-items-center tw-text-3xl text-white position-absolute bottom-0 tw-end-0">
                                            <i class="fa-light fa-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="">
                                        <div class="animate-left-right animation-delay-08">
                                            <h2 class="h5 text-white text-capitalize">best service</h2>
                                            <div class="d-flex align-items-center tw-gap-1 tw-mt-3">
                                                <span class="text-main d-flex tw-text-base"><i
                                                        class="fa-solid fa-star"></i></span>
                                                <span class="text-main d-flex tw-text-base"><i
                                                        class="fa-solid fa-star"></i></span>
                                                <span class="text-main d-flex tw-text-base"><i
                                                        class="fa-solid fa-star"></i></span>
                                                <span class="text-main d-flex tw-text-base"><i
                                                        class="fa-solid fa-star"></i></span>
                                                <span class="text-main d-flex tw-text-base"><i
                                                        class="fa-solid fa-star"></i></span>
                                            </div>
                                        </div>
                                        <p
                                            class="text-neutral-200 tw-mt-9 tw-text-lg fw-medium max-w-480-px animate-left-right animation-delay-1">
                                            “We look Automobile is
                                            providing world-class car repair service in the town, for more than 20
                                            years, only
                                            becomes possible “</p>
                                        <div
                                            class="tw-pt-9 d-flex tw-gap-2 align-items-center flex-wrap animate-left-right animation-delay-12">
                                            <span class="fw-bold h6 text-white text-uppercase">jason statham.</span>
                                            <span class="fw-medium text-neutral-200">CEO Google</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="d-flex align-items-start tw-gap-30-px flex-sm-row flex-column">
                                    <div class="position-relative animate-left-right animation-delay-08">
                                        <span class="tw-w-145-px tw-h-145-px rounded-circle overflow-hidden">
                                            <img src="assets/images/thumbs/testi-four-user-img.png"
                                                alt="Testimonials User Image">
                                        </span>
                                        <span
                                            class="tw-w-15 tw-h-15 bg-main rounded-circle border border-white d-flex justify-content-center align-items-center tw-text-3xl text-white position-absolute bottom-0 tw-end-0">
                                            <i class="fa-light fa-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="">
                                        <div class="animate-left-right animation-delay-08">
                                            <h2 class="h5 text-white text-capitalize">best service</h2>
                                            <div class="d-flex align-items-center tw-gap-1 tw-mt-3">
                                                <span class="text-main d-flex tw-text-base"><i
                                                        class="fa-solid fa-star"></i></span>
                                                <span class="text-main d-flex tw-text-base"><i
                                                        class="fa-solid fa-star"></i></span>
                                                <span class="text-main d-flex tw-text-base"><i
                                                        class="fa-solid fa-star"></i></span>
                                                <span class="text-main d-flex tw-text-base"><i
                                                        class="fa-solid fa-star"></i></span>
                                                <span class="text-main d-flex tw-text-base"><i
                                                        class="fa-solid fa-star"></i></span>
                                            </div>
                                        </div>
                                        <p
                                            class="text-neutral-200 tw-mt-9 tw-text-lg fw-medium max-w-480-px animate-left-right animation-delay-1">
                                            “Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, porro ipsum distinctio accusamus molestiae tempore dolor eum fugit vitae soluta.“</p>
                                        <div
                                            class="tw-pt-9 d-flex tw-gap-2 align-items-center flex-wrap animate-left-right animation-delay-12">
                                            <span class="fw-bold h6 text-white text-uppercase">John Doe.</span>
                                            <span class="fw-medium text-neutral-200">CEO Google</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonials-slider-pagination tw-mt-13"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================== Testimonials Four section end ========================= -->