<!-- ==================================== Testimonials three section start ============================ -->
<section class="testimonials-three py-120 position-relative overflow-hidden z-1">
    <div class="position-absolute bottom-0 start-50 translate-middle-x z-n1">
        <img src="assets/images/bg/dotted-bg.png" alt="Dotter BG">
    </div>

    <div class="container">
        <div class="d-flex align-items-center justify-content-between tw-gap-6 tw-mb-12 flex-wrap">
            <div class="section-heading max-w-645-px">
                <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="100">
                    <span class="text-main fw-semibold tw-text-lg text-uppercase">our clients say</span>
                    <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
                </div>
                <h2 class="splitTextStyleOne text-white" data-aos="fade-up">Client's Testimonials</h2>
            </div>
            <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div
                    class="d-flex tw-gap-4 align-items-center tw-py-2 tw-px-205 rounded-pill bg-dark-light border border-neutral-600">
                    <button type="button"
                        class="tw-w-12 tw-h-12 bg-main-two hover-bg-main text-white rounded-circle d-flex justify-content-center align-items-center tw-duration-500 testimonials-three-button-prev">
                        <i class="fa-regular fa-arrow-left-long"></i>
                    </button>
                    <button type="button"
                        class="tw-w-12 tw-h-12 bg-main-two hover-bg-main text-white rounded-circle d-flex justify-content-center align-items-center tw-duration-500 testimonials-three-button-next">
                        <i class="fa-regular fa-arrow-right-long"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="swiper testimonials-three-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-three-item tw-px-32-px tw-py-10 tw-rounded-2xl bg-dark-light position-relative border border-neutral-800" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="bg-main-two tw-h-205 tw-w-14 rounded-pill position-absolute end-0 bottom-0 tw-me-16 border-top border-neutral-800 tw--mb-5-px"></span>
                        <div class="d-flex align-items-center tw-gap-1 tw-mb-6">
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                        </div>
                        <h2 class="h4 text-capitalize text-white">diagnose cars</h2>
                        <p class="text-dark-light tw-text-lg fw-semibold tw-mt-4 max-w-530-px">Cost-effective
                            solution generate text in
                            seconds increasing and car your conversion solution.</p>
                        <div class="tw-mt-705 d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center tw-gap-4">
                                <span class="tw-h-14 tw-w-14 rounded-circle border border-3 border-white">
                                    <img src="assets/images/thumbs/testi-three-img1.png" alt="Testimonials image 1"
                                        class="w-100 h-100 object-fit-cover">
                                </span>
                                <div class="">
                                    <h2 class="h5 text-white tw-mb-105">Alex Martin</h2>
                                    <span class="text-dark-light fw-medium">Specialist</span>
                                </div>
                            </div>
                            <span class="h2 text-main d-flex">
                                <i class="fa-solid fa-quote-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-three-item tw-px-32-px tw-py-10 tw-rounded-2xl bg-dark-light position-relative border border-neutral-800" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <span class="bg-main-two tw-h-205 tw-w-14 rounded-pill position-absolute end-0 bottom-0 tw-me-16 border-top border-neutral-800 tw--mb-5-px"></span>
                        <div class="d-flex align-items-center tw-gap-1 tw-mb-6">
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                        </div>
                        <h2 class="h4 text-capitalize text-white">car mechanic </h2>
                        <p class="text-dark-light tw-text-lg fw-semibold tw-mt-4 max-w-530-px">Cost-effective
                            solution generate text in
                            seconds increasing and car your conversion solution.</p>
                        <div class="tw-mt-705 d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center tw-gap-4">
                                <span class="tw-h-14 tw-w-14 rounded-circle border border-3 border-white">
                                    <img src="assets/images/thumbs/testi-three-img2.png" alt="Testimonials image 2"
                                        class="w-100 h-100 object-fit-cover">
                                </span>
                                <div class="">
                                    <h2 class="h5 text-white tw-mb-105">paul walker</h2>
                                    <span class="text-dark-light fw-medium">Specialist</span>
                                </div>
                            </div>
                            <span class="h2 text-main d-flex">
                                <i class="fa-solid fa-quote-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-three-item tw-px-32-px tw-py-10 tw-rounded-2xl bg-dark-light position-relative border border-neutral-800" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                        <span class="bg-main-two tw-h-205 tw-w-14 rounded-pill position-absolute end-0 bottom-0 tw-me-16 border-top border-neutral-800 tw--mb-5-px"></span>
                        <div class="d-flex align-items-center tw-gap-1 tw-mb-6">
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                            <span class="text-warning d-flex tw-text-base"><i class="fa-solid fa-star"></i></span>
                        </div>
                        <h2 class="h4 text-capitalize text-white">diagnose cars</h2>
                        <p class="text-dark-light tw-text-lg fw-semibold tw-mt-4 max-w-530-px">Cost-effective
                            solution generate text in
                            seconds increasing and car your conversion solution.</p>
                        <div class="tw-mt-705 d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center tw-gap-4">
                                <span class="tw-h-14 tw-w-14 rounded-circle border border-3 border-white">
                                    <img src="assets/images/thumbs/testi-three-img1.png" alt="Testimonials image 1"
                                        class="w-100 h-100 object-fit-cover">
                                </span>
                                <div class="">
                                    <h2 class="h5 text-white tw-mb-105">Alex Martin</h2>
                                    <span class="text-dark-light fw-medium">Specialist</span>
                                </div>
                            </div>
                            <span class="h2 text-main d-flex">
                                <i class="fa-solid fa-quote-right"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================================== Testimonials three section end ============================ -->