<!-- ============================= Testimonials section start ========================= -->
<section class="testimonials bg-img background-img gradient-black-bg position-relative z-1"
    data-background-image="assets/images/bg/testimonials-bg-img.png">
    <div class="curve-arrow-shape d-lg-block d-none">
        <img src="assets/images/shapes/curve-round-arrow.png" alt="Curve Arrow">
    </div>

    <div class="left-triangle-shape position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="py-120">
                        <div class="section-heading tw-mb-12">
                            <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up"
                                data-aos-duration="800" data-aos-delay="100">
                                <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                                <span class="text-main fw-semibold tw-text-lg text-uppercase">Testimonials</span>
                            </div>
                            <h2 class="splitTextStyleOne text-white" data-aos="fade-up">Our Client Feedback</h2>
                        </div>
                        <div class="max-w-700-px">
                            <div class="swiper testimonials-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testimonials-item" data-aos="fade-up" data-aos-duration="1000"
                                            data-aos-delay="100">
                                            <span
                                                class="animate-left-right animation-delay-08 text-main h2 d-flex tw-leading-none tw-mb-4">
                                                <i class="fa-sharp fa-regular fa-quote-right"></i>
                                            </span>
                                            <p
                                                class="animate-left-right animation-delay-1 h3 text-white fw-normal line-height-15 text-capitalize">
                                                “auto mechanic convalli aptent, conubia eanean Nost fames ridi the
                                                Modern Bodywork and Paint Service Vehicle Maintenance Car Washers ”</p>
                                            <div
                                                class="animate-left-right animation-delay-12 tw-mt-10 d-flex align-items-center tw-gap-4">
                                                <div
                                                    class="tw-w-72-px tw-h-72-px rounded-circle border border-3 border-main overflow-hidden">
                                                    <img src="assets/images/thumbs/testi-img1.png"
                                                        alt="Testimonials Image" class="w-100 h-100 object-fit-cover">
                                                </div>
                                                <div class="">
                                                    <h2 class="h5 text-white text-capitalize fw-medium tw-mb-3">nancy
                                                        mace
                                                    </h2>
                                                    <div class="d-flex align-items-center tw-gap-1">
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonials-item" data-aos="fade-up" data-aos-duration="1000"
                                            data-aos-delay="200">
                                            <span
                                                class="animate-left-right animation-delay-08 text-main h2 d-flex tw-leading-none tw-mb-4">
                                                <i class="fa-sharp fa-regular fa-quote-right"></i>
                                            </span>
                                            <p
                                                class="animate-left-right animation-delay-1 h3 text-white fw-normal line-height-15 text-capitalize">
                                                “auto mechanic convalli aptent, conubia eanean Nost fames ridi the
                                                Modern Bodywork and Paint Service Vehicle Maintenance Car Washers ”</p>
                                            <div
                                                class="animate-left-right animation-delay-12 tw-mt-10 d-flex align-items-center tw-gap-4">
                                                <div
                                                    class="tw-w-72-px tw-h-72-px rounded-circle border border-3 border-main overflow-hidden">
                                                    <img src="assets/images/thumbs/testi-img1.png"
                                                        alt="Testimonials Image" class="w-100 h-100 object-fit-cover">
                                                </div>
                                                <div class="">
                                                    <h2 class="h5 text-white text-capitalize fw-medium tw-mb-3">nancy
                                                        mace
                                                    </h2>
                                                    <div class="d-flex align-items-center tw-gap-1">
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="testimonials-item" data-aos="fade-up" data-aos-duration="1000"
                                            data-aos-delay="300">
                                            <span
                                                class="animate-left-right animation-delay-08 text-main h2 d-flex tw-leading-none tw-mb-4">
                                                <i class="fa-sharp fa-regular fa-quote-right"></i>
                                            </span>
                                            <p
                                                class="animate-left-right animation-delay-1 h3 text-white fw-normal line-height-15 text-capitalize">
                                                “auto mechanic convalli aptent, conubia eanean Nost fames ridi the
                                                Modern Bodywork and Paint Service Vehicle Maintenance Car Washers ”</p>
                                            <div
                                                class="animate-left-right animation-delay-12 tw-mt-10 d-flex align-items-center tw-gap-4">
                                                <div
                                                    class="tw-w-72-px tw-h-72-px rounded-circle border border-3 border-main overflow-hidden">
                                                    <img src="assets/images/thumbs/testi-img1.png"
                                                        alt="Testimonials Image" class="w-100 h-100 object-fit-cover">
                                                </div>
                                                <div class="">
                                                    <h2 class="h5 text-white text-capitalize fw-medium tw-mb-3">nancy
                                                        mace
                                                    </h2>
                                                    <div class="d-flex align-items-center tw-gap-1">
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                        <span class="text-warning tw-text-sm d-flex">
                                                            <i class="fa-solid fa-star"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials-slider-pagination tw-mt-13"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-lg-block d-none" data-aos="fade-up" data-aos-duration="1000"
                    data-aos-delay="100">
                    <div class="text-center h-100 d-flex flex-column justify-content-end align-items-end">
                        <img src="assets/images/thumbs/testimonials-big-img.png" alt="Big Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Testimonials section end ========================= -->