<!-- ========================== Top Header start ================================== -->
<div class="top-header bg-main-two overflow-hidden d-md-block d-none tw-z-99">
    <div class="container max-w-1610-px">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center tw-gap-5">
                <div class="d-flex align-items-center gap-3">
                    <span class="text-main tw-text-xl d-flex">
                        <i class="fa-regular fa-phone-volume"></i>
                    </span>
                    <span class="text-white fw-bold tw-text-base text-capitalize">+9(00) 558 944</span>
                </div>
                <span class="tw-w-px tw-h-505 bg-neutral-600"></span>
                <div class="d-flex align-items-center gap-3">
                    <span class="text-white tw-text-xl d-flex">
                        <i class="fa-regular fa-envelope"></i>
                    </span>
                    <span class="text-white fw-bold tw-text-base">example@email.com</span>
                </div>
            </div>
            <div class="d-flex tw-gap-5 bg-main before-bg-end position-relative z-1 tw-ps-4 triangle-shape">
                <div class="tw-py-405 d-flex align-items-center tw-gap-3">
                    <span class="text-white fw-bold tw-text-base">
                        <i class="fa-solid fa-clock"></i>
                    </span>
                    <span class="text-white fw-bold tw-text-base text-capitalize">mon - fri: 09.00 - 06:00</span>
                </div>
                <div class="d-flex tw-gap-05">
                    <span class="tw-w-px h-100 bg-white-50"></span>
                    <span class="tw-w-px h-100 bg-white-50"></span>
                </div>
                <div class="tw-py-405">
                    <ul class="list-unstyled d-flex align-items-center tw-gap-4">
                        <li>
                            <a href="https://www.facebook.com" class="tw-text-base text-white hover-scale-20">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com" class="tw-text-base text-white hover-scale-20">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com" class="tw-text-base text-white hover-scale-20">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.vimeo.com" class="tw-text-base text-white hover-scale-20">
                                <i class="fa-brands fa-vimeo-v"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================== Top Header end ================================== -->