<!-- ========================== Top Header start ================================== -->
<div class="top-header bg-main-two overflow-hidden d-md-block d-none">
    <div class="container max-w-1610-px">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-3">
                <span class="text-main tw-text-xl d-flex">
                    <i class="fa-solid fa-bolt"></i>
                </span>
                <span class="text-white fw-bold tw-text-base text-capitalize">welcome to car repair & service
                    center</span>
            </div>
            <div class="d-flex tw-gap-5 bg-main before-bg-end position-relative z-1 tw-ps-4 triangle-shape">
                <div class="tw-py-405 d-flex align-items-center tw-gap-3">
                    <span class="tw-w-705 bg-white tw-h-1 rounded-pill"></span>
                    <span class="text-white fw-bold tw-text-base text-capitalize">FOLLOW US</span>
                </div>
                <div class="d-flex tw-gap-05">
                    <span class="tw-w-px h-100 bg-white-50"></span>
                    <span class="tw-w-px h-100 bg-white-50"></span>
                </div>
                <div class="tw-py-405">
                    <ul class="d-flex align-items-center tw-gap-4">
                        <li>
                            <a href="https://www.facebook.com" class="tw-text-base text-white hover-scale-20">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com" class="tw-text-base text-white hover-scale-20">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com" class="tw-text-base text-white hover-scale-20">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.vimeo.com" class="tw-text-base text-white hover-scale-20">
                                <i class="fa-brands fa-vimeo-v"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ========================== Top Header end ================================== -->