<!-- ========================== Top Header start ================================== -->
<div class="top-header top-header-five overflow-hidden d-md-block d-none tw-z-99 tw-py-305">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center gap-4">
                <div class="d-flex align-items-center gap-3">
                    <span class="text-main tw-text-xl d-flex">
                        <i class="fa-solid fa-phone"></i>
                    </span>
                    <a href="tel:+965869584" class="text-body-two hover-text-white fw-bold tw-text-base hover-underline">+96 586 9584</a>
                </div>
                <span class="tw-h-505 tw-w-05 bg-neutral-600"></span>
                <div class="d-flex align-items-center gap-3">
                    <span class="text-main tw-text-xl d-flex">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    <a href="mailto:info@exemple.com" class="text-body-two hover-text-white fw-bold tw-text-base hover-underline">info@exemple.com</a>
                </div>
            </div>
            <ul class="list-unstyled d-flex align-items-center tw-gap-8">
                <li>
                    <a href="https://www.facebook.com" class="tw-text-base text-white hover-scale-20">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com" class="tw-text-base text-white hover-scale-20">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com" class="tw-text-base text-white hover-scale-20">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.vimeo.com" class="tw-text-base text-white hover-scale-20">
                        <i class="fa-brands fa-vimeo-v"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ========================== Top Header end ================================== -->