<!-- ====================== Video section start ======================== -->
<div class="video tw-h-620-px overflow-hidden position-relative">
    <div class="hover-animation-white scale-up-wrapper position-relative overflow-hidden h-100 w-100">
        <img src="assets/images/thumbs/video-bg.png" class="object-fit-cover w-100 h-100 scale-up__img" alt="Agency Video Image">
    </div>
    <a href="https://www.youtube.com/watch?v=MFLVmAE4cqg"
        class="tw-w-110-px tw-h-110-px d-inline-flex justify-content-center align-items-center bg-main text-white hover-text-white hover-bg-main rounded-circle tw-text-3xl position-absolute start-50 translate-middle top-50 z-1 play-button">
        <i class="fa-duotone fa-solid fa-play"></i>
    </a>
</div>
<!-- ====================== Video section end ======================== -->