<!-- ========================= Weekly best selling section start ================================ -->
<section class="weekly-best-selling py-110">
    <div class="container">

        <div class="d-flex align-items-end justify-content-between tw-gap-6 tw-mb-12 flex-wrap">
            <div class="section-heading max-w-645-px">
                <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="100">
                    <span class="text-main fw-semibold tw-text-lg text-uppercase">best deals</span>
                    <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
                </div>
                <h2 class="splitTextStyleOne text-uppercase" data-aos="fade-up">weekly best selling </h2>
            </div>
            <div class="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <a href="blog-details.html"
                    class="text-capitalize fw-bold tw-text-xl text-main hover-text-main-two group group-item d-flex align-items-center tw-gap-205">
                    go to daliy deals
                    <span
                        class="tw-w-6 tw-h-6 d-flex align-items-center justify-content-center rounded-circle text-white bg-main tw-duration-300 group-hover-bg-main-two tw-text-sm">
                        <i class="fa-solid fa-arrow-right"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="row gy-4">
            <div class="col-xl-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                <div class="tw-px-40-px tw-py-14 bg-img background-img overflow-hidden z-1 h-100 d-flex flex-column justify-content-between tw-rounded-xl overflow-hidden"
                    data-background-image="assets/images/bg/weekly-best-selling-bg.png">
                    <div class="">
                        <span class="h5 text-main fw-bolder text-uppercase tw-mb-205">15% discount</span>
                        <h2 class="text-36-px tw-mb-6 text-uppercase text-heading splitTextStyleOne max-w-250-px">upgrade tire models</h2>
                    </div>
                    <div class="tw-mt-12">
                        <a href="product.html"
                            class="btn btn-white hover-style-one button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-5 group tw-px-4 tw-py-205 active--translate-y-2 text-uppercase fw-bolder tw-tracking-2-percent hover-text-white group common-shadow tw-text-base"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">
                                SHOP NOW
                                <span
                                    class="tw-ps-2 tw-text-lg tw-leading-none d-sm-inline-flex d-none group-hover-text-white tw-duration-300">
                                    <i class="fa-solid fa-arrow-right-long"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="grid-cols-res-3 d-grid tw-gap-5">
                    <a href="product.html" class="tw-pt-6 tw-ps-6 tw-pe-6 tw-pb-16 bg-neutral-light tw-rounded-md group group-item position-relative overflow-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="text-heading tw-text-lg fw-bolder mb-lg-3 text-uppercase d-block">accessories</span>
                        <span class="text-body tw-text-lg fw-bold text-capitalize d-block tw-duration-500 group-hover-text-main tw-pb-3">03 items</span>
                        <div class="position-absolute tw-end-0 bottom-0 tw-me-405 tw-mb-4 group-hover-item-scale-12 tw-duration-500">
                            <img src="assets/images/thumbs/weekly-best-selling-img1.png" alt="Weekly Selling Image 1">
                        </div>
                    </a>
                    <a href="product.html" class="tw-pt-6 tw-ps-6 tw-pe-6 tw-pb-16 bg-neutral-light tw-rounded-md group group-item position-relative overflow-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <span class="text-heading tw-text-lg fw-bolder mb-lg-3 text-uppercase d-block">headlight</span>
                        <span class="text-body tw-text-lg fw-bold text-capitalize d-block tw-duration-500 group-hover-text-main tw-pb-3">02 items</span>
                        <div class="position-absolute tw-end-0 bottom-0 tw-me-405 tw-mb-4 group-hover-item-scale-12 tw-duration-500">
                            <img src="assets/images/thumbs/weekly-best-selling-img2.png" alt="Weekly Selling Image 2">
                        </div>
                    </a>
                    <a href="product.html" class="tw-pt-6 tw-ps-6 tw-pe-6 tw-pb-16 bg-neutral-light tw-rounded-md group group-item position-relative overflow-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                        <span class="text-heading tw-text-lg fw-bolder mb-lg-3 text-uppercase d-block">Shock absorber</span>
                        <span class="text-body tw-text-lg fw-bold text-capitalize d-block tw-duration-500 group-hover-text-main tw-pb-3">10 items</span>
                        <div class="position-absolute tw-end-0 bottom-0 tw-me-405 tw-mb-4 group-hover-item-scale-12 tw-duration-500">
                            <img src="assets/images/thumbs/weekly-best-selling-img3.png" alt="Weekly Selling Image 3">
                        </div>
                    </a>
                    <a href="product.html" class="tw-pt-6 tw-ps-6 tw-pe-6 tw-pb-16 bg-neutral-light tw-rounded-md group group-item position-relative overflow-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                        <span class="text-heading tw-text-lg fw-bolder mb-lg-3 text-uppercase d-block">Suspension</span>
                        <span class="text-body tw-text-lg fw-bold text-capitalize d-block tw-duration-500 group-hover-text-main tw-pb-3">05 items</span>
                        <div class="position-absolute tw-end-0 bottom-0 tw-me-405 tw-mb-4 group-hover-item-scale-12 tw-duration-500">
                            <img src="assets/images/thumbs/weekly-best-selling-img4.png" alt="Weekly Selling Image 4">
                        </div>
                    </a>
                    <a href="product.html" class="tw-pt-6 tw-ps-6 tw-pe-6 tw-pb-16 bg-neutral-light tw-rounded-md group group-item position-relative overflow-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                        <span class="text-heading tw-text-lg fw-bolder mb-lg-3 text-uppercase d-block">charger</span>
                        <span class="text-body tw-text-lg fw-bold text-capitalize d-block tw-duration-500 group-hover-text-main tw-pb-3">06 items</span>
                        <div class="position-absolute tw-end-0 bottom-0 tw-me-405 tw-mb-4 group-hover-item-scale-12 tw-duration-500">
                            <img src="assets/images/thumbs/weekly-best-selling-img5.png" alt="Weekly Selling Image 5">
                        </div>
                    </a>
                    <a href="product.html" class="tw-pt-6 tw-ps-6 tw-pe-6 tw-pb-16 bg-neutral-light tw-rounded-md group group-item position-relative overflow-hidden" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
                        <span class="text-heading tw-text-lg fw-bolder mb-lg-3 text-uppercase d-block">alignment</span>
                        <span class="text-body tw-text-lg fw-bold text-capitalize d-block tw-duration-500 group-hover-text-main tw-pb-3">20 items</span>
                        <div class="position-absolute tw-end-0 bottom-0 tw-me-405 tw-mb-4 group-hover-item-scale-12 tw-duration-500">
                            <img src="assets/images/thumbs/weekly-best-selling-img6.png" alt="Weekly Selling Image 6">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Weekly best selling section end ================================ -->