<!-- =========================== Service One section start =========================== -->
<section class="working-process py-120 section-bg overflow-hidden">
    <div class="container">
        <div class="">
            <div class="section-heading tw-mb-11 text-center">
                <div class="d-inline-flex align-items-center tw-gap-205 tw-mb-2" data-aos="fade-up"
                    data-aos-duration="800" data-aos-delay="100">
                    <span class="tw-w-10 tw-h-05 bg-main triangle-left"></span>
                    <span class="text-main fw-semibold tw-text-lg text-uppercase">Complete Auto Care</span>
                    <span class="tw-w-10 tw-h-05 bg-main triangle-right"></span>
                </div>
                <h2 class="splitTextStyleOne">Working Process & Service</h2>
            </div>

            <div class="row gy-4 last-dashed-arrow-right-none">
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                    <div class="text-center">
                        <div class="dashed-arrow-right position-relative">
                            <div class="position-relative d-inline-flex">
                                <div class="tw-max-h-200-px max-w-220-px hover-animation-white scale-up-wrapper tw-rounded-2xl">
                                    <img src="assets/images/thumbs/working-process-img1.png" alt="Service Image 1" class="tw-rounded-2xl object-fit-cover scale-up__img">
                                </div>
                                <div class="tw-h-15 tw-w-15 position-absolute top-0 tw-start-0 tw-mt-6 tw--ms-18-px common-shadow bg-main tw-rounded-lg">
                                    <span class="h4 text-white common-shadow-two w-100 h-100 d-flex justify-content-center align-items-center tw-rounded-lg">01</span>
                                </div>
                            </div>
                        </div>
                        <div class="tw-mt-4">
                            <h2 class="h4 text-capitalize hover-text-main tw-duration-500">Request a quote</h2>
                            <p class="tw-mt-4 text-capitalize max-w-310-px mx-auto">We're more are many variations of passages of Lorem</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
                    <div class="text-center">
                        <div class="dashed-arrow-right position-relative">
                            <div class="position-relative d-inline-flex">
                                <div class="tw-max-h-200-px max-w-220-px hover-animation-white scale-up-wrapper tw-rounded-2xl">
                                    <img src="assets/images/thumbs/working-process-img2.png" alt="Service Image 2" class="tw-rounded-2xl object-fit-cover scale-up__img">
                                </div>
                                <div class="tw-h-15 tw-w-15 position-absolute top-0 tw-start-0 tw-mt-6 tw--ms-18-px common-shadow bg-main tw-rounded-lg">
                                    <span class="h4 text-white common-shadow-two w-100 h-100 d-flex justify-content-center align-items-center tw-rounded-lg">02</span>
                                </div>
                            </div>
                        </div>
                        <div class="tw-mt-4">
                            <h2 class="h4 text-capitalize hover-text-main tw-duration-500">Filter Replacement</h2>
                            <p class="tw-mt-4 text-capitalize max-w-310-px mx-auto">We're more are many variations of passages of Lorem</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                    <div class="text-center">
                        <div class="dashed-arrow-right position-relative">
                            <div class="position-relative d-inline-flex">
                                <div class="tw-max-h-200-px max-w-220-px hover-animation-white scale-up-wrapper tw-rounded-2xl">
                                    <img src="assets/images/thumbs/working-process-img3.png" alt="Service Image 3" class="tw-rounded-2xl object-fit-cover scale-up__img">
                                </div>
                                <div class="tw-h-15 tw-w-15 position-absolute top-0 tw-start-0 tw-mt-6 tw--ms-18-px common-shadow bg-main tw-rounded-lg">
                                    <span class="h4 text-white common-shadow-two w-100 h-100 d-flex justify-content-center align-items-center tw-rounded-lg">03</span>
                                </div>
                            </div>
                        </div>
                        <div class="tw-mt-4">
                            <h2 class="h4 text-capitalize hover-text-main tw-duration-500">Oil Change</h2>
                            <p class="tw-mt-4 text-capitalize max-w-310-px mx-auto">We're more are many variations of passages of Lorem</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                    <div class="text-center">
                        <div class="dashed-arrow-right position-relative">
                            <div class="position-relative d-inline-flex">
                                <div class="tw-max-h-200-px max-w-220-px hover-animation-white scale-up-wrapper tw-rounded-2xl">
                                    <img src="assets/images/thumbs/working-process-img4.png" alt="Service Image 4" class="tw-rounded-2xl object-fit-cover scale-up__img">
                                </div>
                                <div class="tw-h-15 tw-w-15 position-absolute top-0 tw-start-0 tw-mt-6 tw--ms-18-px common-shadow bg-main tw-rounded-lg">
                                    <span class="h4 text-white common-shadow-two w-100 h-100 d-flex justify-content-center align-items-center tw-rounded-lg">04</span>
                                </div>
                            </div>
                        </div>
                        <div class="tw-mt-4">
                            <h2 class="h4 text-capitalize hover-text-main tw-duration-500">Engine Diagnostics</h2>
                            <p class="tw-mt-4 text-capitalize max-w-310-px mx-auto">We're more are many variations of passages of Lorem</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Service One section end =========================== -->