/* Max width Css Class Start */
.max-w {
    &-645-px {
        max-width: 645px;
    }
    &-685-px {
        max-width: 685px;
    }
    &-420-px {
        max-width: 420px;
    }
    &-460-px {
        max-width: 460px;
    }
    &-480-px {
        max-width: 480px;
    }
    &-310-px {
        max-width: 310px;
    }
    &-370-px {
        max-width: 370px;
    }
    &-220-px {
        max-width: 220px;
    }
    &-250-px {
        max-width: 250px;
    }
    &-275-px {
        max-width: 275px;
    }
    &-356-px {
        max-width: 356px;
    }
    &-530-px {
        max-width: 530px;
    }
    &-576-px {
        max-width: 576px;
    }
    &-700-px {
        max-width: 700px;
    }
    &-780-px {
        max-width: 780px;
    }
    &-840-px {
        max-width: 840px;
    }
    &-1524-px {
        max-width: 1524px;
    }
    &-1610-px {
        max-width: 1610px;
    }
}
/* Max width Css Class End */