/* Max Height Css Class Start */
.tw-max-h {
  &-screen {
    max-height: 100vh;
  }

  &-200-px {
    max-height: 200px;
  }

  &-310-px {
    max-height: 310px;
  }
  &-332-px {
    max-height: 332px;
  }
  &-380-px {
    max-height: 380px;
  }
}

/* Max Height Css Class End */