/* ========================== Swiper Slider css start ============================= */
.swiper-pagination-bullet {
    width: 18px;
    height: 10px;
    border-radius: 50rem;
    opacity: 1;
    background: #FFFFFF8C;
    transition: .3s linear;

    &.swiper-pagination-bullet-active {
        width: 56px;
        background-color: var(--vs-theme-color1);
    }
}
/* ========================== Swiper Slider css end ============================= */

