/* Banner Four start */
.banner-four {
    padding: 220px 0 112px;

    @media (min-width: 992px) {
        padding: 340px 0 112px;
    }
}

.banner-four-img {
    margin-inline-end: -11%;
}

/* Banner Four End */