/* Footer Css Start */
.bg-dark-light {
    background-color: #1F1F1F;
}

.border-bottom-black-main {
    position: relative;
    border-bottom: 3px solid #FFFFFF26;
}

.border-bottom-black-main::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    background-color: var(--vs-theme-color1);
    bottom: -3px;
    inset-inline-start: 0;
}
/* Footer Css End */