/* Price two section start */
.rounded-glob-shape {
    margin-inline-start: 8%;
    margin-block-end: 8%;
}

.arrow-curve-shape {
    margin-inline-end: 13%;
    margin-block-start: 5%;
}

/* Price two section end */