/* Service Two css start */

.text-vertical-style {
    writing-mode: sideways-lr;
}

.text-stroke {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #07070733;
    transition: .3s linear;
    &:hover {
        -webkit-text-stroke-color: #070707;
    }
}

.hover-border-top-bottom {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-top: 7px solid var(--vs-theme-color1);
        border-bottom: 7px solid var(--vs-theme-color1);
        z-index: 2;
        transition: .3s linear;
        inset-inline-start: 0;
        inset-block-start: 50%;
        transform: translateY(-50%) scaleY(1.1);
        pointer-events: none;
    }
    &:hover::before {
        transform: translateY(-50%) scaleY(1);
    }
}
/* Service Two css end */