/* service three section css start */
.btn-shape {
    clip-path: polygon(28% 0, 100% 0, 100% 100%, 0% 100%);
}

.service-three-icon {
    position: absolute;
    top: -39px;
    inset-inline-end: 0;
    z-index: 1;
    margin-inline-end: 24px;
}

/* service three section css end */